
@font-face {font-family: "iconfont";
  src: url('iconfont-t=1497491017754.eot'); /* IE9*/
  src: url('iconfont-t=1497491017754.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont-t=1497491017754.woff') format('woff'), /* chrome, firefox */
  url('iconfont-t=1497491017754.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont-t=1497491017754.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  padding-right: 8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-copy:before { content: "\e601"; }

.icon-dingdan:before { content: "\e604"; }

.icon-unie609:before { content: "\e659"; }

.icon-zhifufangshi:before { content: "\e654"; }

.icon-meituan:before { content: "\e60c"; }

.icon-koubei1:before { content: "\e602"; }

.icon-mendian:before { content: "\e60a"; }

.icon-changyonglogo40:before { content: "\e600"; }

.icon-baiduwaimai:before { content: "\e677"; }

