<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                http://www.springframework.org/schema/beans/spring-beans.xsd
                http://code.alibabatech.com/schema/dubbo
                http://code.alibabatech.com/schema/dubbo/dubbo.xsd
                ">

    <!--声明自定义实现类的bean-->
    <!--<bean id="foodService" class="cn.yutang.backend.service.impl.FoodServiceImpl"/>-->
    <!--暴露接口-->
    <dubbo:service interface="cn.yutang.backend.service.IFoodService" ref="foodServiceImpl"/>
    <!--应用名称-->
    <dubbo:application name="myprovider"/>
    <!--使用zk的注册中心-->
    <dubbo:registry address="zookeeper://www.yummm.cn:2181"/>
    <!--协议 暴露端口-->
    <dubbo:protocol name="dubbo" port="20880"/>



</beans>