<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="cn.yutang.client.pojo"/>
    </typeAliases>

    <mappers>
        <!--加载mapper文件 -->
        <!-- <mapper resource="cn/peter/mapper/UserMapper.xml" /> -->
        <!-- <mapper class="cn.peter.mapper.UserMapper"/> -->
        <package name="cn.yutang.client.dao"/>
    </mappers>
</configuration>