.ppp15 {
  padding: 15px;
}
.faduanxinbox .bg-info {
  border-radius: 5px;
  padding: 15px;
  line-height: 28px;
  color: #515151;
  font-size: 14px;
}
.faduanxinbox .bg-info i {
  color: #f73e20;
}
.faduanxinbox .dxbjqbox {
  width: 100%;
  margin-top: 25px;
  position: relative;
  overflow: hidden;
  border: 1px solid #f2f4f4;
}
.faduanxinbox .dxbjqbox .dxbjtop {
  width: 100%;
  background: #f2f4f4;
  padding: 12px 15px;
  overflow: hidden;
}
.faduanxinbox .dxbjqbox .dxbjtop h3 {
  display: inline-block;
  font-size: 15px;
  color: #000;
  font-weight: bold;
  vertical-align: middle;
}
.faduanxinbox .dxbjqbox .dxbjtop span i {
  color: #f73e20;
}
.faduanxinbox .dxbjqbox .dxbjtop a {
  color: #2482ca;
  display: inline-block;
  vertical-align: middle;
  margin-left: 40px;
}
.faduanxinbox .dxbjqbox .dxbjbody {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 30px 15px;
}
.faduanxinbox .dxbjqbox .dxbjbody .dxbjbtitlt {
  padding-bottom: 20px;
  font-size: 30px;
  color: #2482ca;
}
.faduanxinbox .dxbjqbox .dxbjbody .dxbjbtitlt span {
  font-weight: 600;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #000000;
}
.faduanxinbox .dxbjqbox .dxbjtiop {
  width: 400px;
  overflow: hidden;
  position: relative;
}
.faduanxinbox .dxbjqbox .dxbjtiop .miszhansh {
  margin-top: 9px;
}
.faduanxinbox .dxbjqbox .dxbjtiop .miszhansh i {
  color: #f73e20;
  font-size: 15px;
  font-weight: bold;
}
.faduanxinbox .dxbjqbox .dxbjteleft {
  width: 400px;
  float: left;
}
.faduanxinbox .dxbjqbox .dxbjtecon {
  width: 150px;
  float: left;
}
.faduanxinbox .dxbjqbox .dxbjtecon i {
  margin: 120px auto;
  display: block;
  font-size: 46px;
  color: #eeeeee;
  width: 40px;
}
.faduanxinbox .dxbjqbox .dxbjrigth {
  width: 320px;
  height: 340px;
  background: url("http://decerp.cc/images/dxphone.jpg") no-repeat;
  float: left;
  position: relative;
}
.faduanxinbox .dxbjqbox .dxvivwel {
  width: 217px;
  margin-top: 105px;
  margin-left: 40px;
  font-size: 13px;
  background: #dfdfdf;
  padding: 10px;
  border-radius: 10px;
  color: #515151;
  word-break: break-all;
}
.faduanxinbox .dxbjqbox .dxbjxdx {
  width: 400px;
  border: 1px solid #e3f0f6;
  overflow: hidden;
  position: relative;
}
.faduanxinbox .dxbjqbox .dxbjxdx .djxtop {
  width: 100%;
  height: 46px;
  background: #e3f0f6;
  overflow: hidden;
}
.faduanxinbox .dxbjqbox .dxbjxdx .djxtop .usrName {
  width: 95%;
  margin: 8px auto;
  display: block;
  height: 32px;
  border-radius: 4px;
  border: none;
  outline: none;
  padding-left: 10px;
  font-size: 14px;
  line-height: 32px;
  cursor: pointer;
  background: #fff;
}
.faduanxinbox .dxbjqbox .dxbjxdx .djxtop .usrName .usrNameZone {
  color: #999;
  font-size: 14px;
  display: inline-block;
  width: 70%;
  height: 32px;
  line-height: 32px;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  word-break: break-all;
  overflow: hidden;
  cursor: pointer;
}
.faduanxinbox .dxbjqbox .dxbjxdx .djxtop .usrName .usrCount {
  position: absolute;
  top: 9px;
  right: 63px;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  height: 16px;
  line-height: 16px;
  min-width: 14px;
  padding: 0  10px;
  text-align: center;
  background: #808B9B;
  border-radius: 10px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  margin-left: 5px;
  cursor: help;
  display: none;
  margin-right: 10px;
  margin-top: 6px;
}
.faduanxinbox .dxbjqbox .dxbjxdx .djxtop .xzhybtn {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 1%;
  top: 16px;
  font-size: 18px;
  color: #b2b2b2;
  text-decoration: none;
  -webkit-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.faduanxinbox .dxbjqbox .dxbjxdx .djxtop .xzhybtn:hover {
  color: #2482ca;
}
.faduanxinbox .dxbjqbox .dxbjxdx .djxcon {
  width: 100%;
  position: relative;
  padding: 12px;
}
.faduanxinbox .dxbjqbox .dxbjxdx .djxcon textarea {
  width: 100%;
  height: 140px;
  border: none;
  resize: none;
  outline: none;
  font-size: 13px;
  line-height: 22px;
}
.faduanxinbox .dxbjqbox .dxbjxdx .djxcfooter {
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #e3f0f6;
  padding: 9px 12px 3px 4px;
}
.faduanxinbox .dxbjqbox .dxbjxdx .djxcfooter .ritianshu .stecs span {
  font-size: 13px;
  color: #19b394;
  vertical-align: -1px;
}
.faduanxinbox .dxbjqbox .dxbjxdx .djxcfooter .dxqiming {
  float: right;
}
.faduanxinbox .dxbjqbox .dxbjxdx .djxcfooter .dxqiming .smsqianmin {
  display: inline-block;
  width: 108px;
  font-size: 13px;
  border: none;
  outline: none;
  vertical-align: 1px;
  display: none;
}
.faduanxinbox .dxbjqbox .dxbjxdx .djxcfooter .dxqiming span {
  display: inline-block;
  vertical-align: -2px;
  color: #515151;
}
.faduanxinbox .dxbjqbox .dxbjxdx .djxcfooter .dxqiming .dxqimqbtn {
  color: #27ae89;
  font-size: 19px;
  display: inline-block;
  vertical-align: top;
  outline: none;
  text-decoration: none;
}
.faduanxinbox .dxbjqbox .dxbjbbbtn {
  width: 400px;
  position: relative;
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 18px;
}
.faduanxinbox .dxbjqbox .dxbjbbbtn .grebtn {
  background: #27ae89;
  display: inline-block;
  padding: 5px 13px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.faduanxinbox .dxbjqbox .dxbjbbbtn .grebtn i {
  font-size: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 4px;
}
.faduanxinbox .dxbjqbox .dxbjbbbtn .grebtn:hover {
  background: #219072;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  transform: translateY(-2px);
}
.faduanxinbox .dxbjqbox .dxbjbbsml {
  width: 400px;
  position: relative;
  overflow: hidden;
  padding-top: 10px;
}
.faduanxinbox .dxbjqbox .dxbjbbsml a {
  font-size: 13px;
  display: block;
  float: left;
  width: 33%;
  text-decoration: none;
  outline: none;
  -webkit-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.faduanxinbox .dxbjqbox .dxbjbbsml a i {
  display: inline-block;
  color: #27ae89;
  font-size: 16px;
  vertical-align: -1px;
  margin-right: 4px;
}
.faduanxinbox .dxbjqbox .dxbjbbsml a:nth-child(1) {
  text-align: left;
}
.faduanxinbox .dxbjqbox .dxbjbbsml a:nth-child(2) {
  text-align: center;
}
.faduanxinbox .dxbjqbox .dxbjbbsml a:nth-child(3) {
  text-align: right;
}
.faduanxinbox .dxbjqbox .dxbjbbsml a:hover {
  color: #27ae89;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  transform: translateY(-2px);
}
.bzhxdaohang {
  position: relative;
  overflow: hidden;
  border: 1px solid #e5e8eb;
  border-radius: 20px;
}
.bzhxdaohang li {
  display: block;
  border-right: 1px solid #E5E8EB;
  float: left;
}
.bzhxdaohang li:last-child {
  border-right: none;
}
.meiribaozhang {
  background: #fff;
  width: 100%;
  position: relative;
  padding: 12px 15px;
}
.meiribaozhang .bzhxdaohang li.active a {
  background: #FF6666 ;
  color: #fff !important;
}
.meiribaozhang .bzhxdaohang li a {
  padding: 6px 28px !important;
}
.meiribaozhang .bzhxdaohang li:hover a {
  color: #FF6666;
}
.newbbtop {
  vertical-align: -11px;
}
.newbbtop .meiribaozhang {
  padding: 2px 2px;
}
.newbbtop .bzhxdaohang li {
  padding-top: 0 !important;
}
.newbbtop .bzhxdaohang li a {
  margin-right: 0 !important;
}
.mbantn a {
  color: #454545 !important;
  background: transparent !important;
}
.mbantn a i {
  color: #19b394 !important;
  margin-right: 6px;
}
.mbantn a:hover {
  color: #19b394 !important;
}
.sjxuantime {
  display: none;
  overflow: hidden;
  margin-left: 18px;
  float: left;
}
.sjxuantime input {
  border: 1px solid #E5E8EB;
  padding: 5px 10px !important;
  margin-left: 10px;
}
.sjxuantime input:first-child {
  margin-right: 10px;
}
.sjxuantime .cxbntn {
  background: #ff6666;
  color: #fff;
  outline: none;
  width: 80px;
  border-radius: 5px;
  -webkit-transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
}
.sjxuantime .cxbntn:hover {
  background: #d44141;
}
.fdxlsbgtable {
  width: 100%;
  border-top: 1px solid #e0e0e0;
}
.fdxlsbgtable tbody tr {
  -webkit-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.fdxlsbgtable tbody tr:hover {
  border-left: 3px solid #ff6666;
}
input[disabled] {
  background: #eaf2ff;
}
.dxlsteaxt {
  width: 68%;
  display: inline-block;
  min-height: 160px;
  border-radius: 3px;
  border: 1px solid #C7C7C7;
  line-height: 20px;
  outline: none;
  padding-left: 6px;
  padding-top: 5px;
  padding-right: 6px;
  font-size: 13px;
  color: #595959;
  resize: none;
  vertical-align: top;
}
textarea[disabled] {
  background: #fff;
}
.modal-footer {
  padding: 10px;
}
.latnone a {
  color: #6888ff !important;
  background: transparent !important;
  -webkit-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.latnone a:hover {
  color: #ff8c40 !important;
}
.faduanxinbox .men_porioven {
  padding: 0 15px;
}
.makstbox {
  width: 100%;
  position: relative;
  overflow: hidden;
  border: 1px solid #EAECED;
  padding: 15px;
}
.makstbox .timsl {
  width: 100%;
  padding: 10px 0 20px 0;
  border-bottom: 1px solid #EAECED;
  overflow: hidden;
}
.makstbox .timsl span {
  display: inline-block;
  font-size: 15px;
  margin-right: 20px;
}
.makstbox .timsl em {
  display: inline-block;
  border-left: 1px solid #999999;
  padding-left: 12px;
  color: #999;
  vertical-align: 1px;
}
.makstbox .monibod {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 25px;
  padding-bottom: 0px;
}
.dxszleibox {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 15px;
  margin-top: 35px;
}
.dxszleibox table thead tr th {
  background: #eaeced;
  padding: 14px 0;
  text-align: center !important;
}
.dxszleibox table tbody tr {
  -webkit-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.dxszleibox table tbody tr td {
  text-align: center !important;
}
.dxszleibox table tbody tr:hover {
  border-left: 3px solid #ff6666;
}
.memeber_czjl .dxszleibox table tbody tr td,
.memeber_czjl .dxszleibox table thead tr th {
  text-align: center !important;
}
.memeber_czjl .dxszleibox table tbody tr td:nth-child(2) {
  text-align: left !important;
  width: 70%;
}
.dxpzghmbbox .modal-dialog {
  width: 600px;
}
.dxpzghmbbox .modderlis {
  height: 420px;
  overflow-y: auto;
}
.dxpzghmbbox .modderlis li {
  border: 1px solid #bcbcbc;
  padding: 13px 15px;
  color: #666666;
  font-size: 13px;
  cursor: pointer;
  margin-bottom: 14px;
  -webkit-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.dxpzghmbbox .modderlis li:hover {
  background: #f0eeee;
}
.dxpzghmbbox .modderlis li.active {
  background: #dadada;
}
.dxtsbebox {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 30px;
  margin-bottom: 25px;
}
.dxtsbebox .dxbjtop {
  width: 100%;
  background: #f2f4f4;
  padding: 12px 15px;
  overflow: hidden;
}
.dxtsbebox .dxbjtop h3 {
  display: inline-block;
  font-size: 15px;
  color: #000;
  font-weight: bold;
  vertical-align: middle;
}
.dxtsbebox .table th {
  text-align: center !important;
}
.dxtsbebox .table tbody td {
  text-align: center !important;
}
.dxtsbebox .table tbody tr:hover {
  border-left: 3px solid #ff6666;
}
.dxtsbebox .table tbody tr {
  -webkit-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.dxtsbebox .table tbody td:nth-child(3) {
  width: 60%;
  overflow: hidden;
  word-break: break-all;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.fdxdsdx .fdxxdsdxbox {
  width: 100%;
  position: relative;
  padding: 15px;
}
.fdxdsdx .fdxxdsdxbox h3 {
  text-align: center;
  padding-bottom: 25px;
}
.fdxdsdx .fdxxdsdxbox .fdxxdstext {
  width: 100%;
  overflow: hidden;
  text-align: center;
}
.fdxdsdx .fdxxdsdxbox .fdxxdstext > * {
  display: inline-block;
}
.fdxdsdx .fdxxdsdxbox .fdxxdstext select:first-child {
  width: 90px;
}
.fdxdsdx .fdxxdsdxbox .fdxxdstext select {
  width: 70px;
}
.fdxdsdx .fdxxdsdxbox .msiimg {
  width: 100%;
  overflow: hidden;
  text-align: center;
  margin-top: 30px;
}
.fdxdsdx .fdxxdsdxbox .msiimg img {
  display: inline-block;
}
.fdxxzhy .modal-dialog {
  width: 700px;
}
.fdxxzhy .fdxzytop {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 15px;
}
.fdxxzhy .fdxzytop .secrch_ios {
  float: left;
  width: 140px;
}
.fdxxzhy .fdxzytop .ritianshu {
  float: left;
  overflow: hidden;
  margin-left: 15px;
}
.fdxxzhy .fdxzytop .ritianshu span {
  display: inline-block;
  float: left;
  height: 30px;
  line-height: 30px;
  margin-right: 5px;
}
.fdxxzhy .fdxzytop .ritianshu select {
  height: 33px;
  line-height: 33px;
  width: 110px;
}
.fdxxzhy .minhei22 {
  height: 300px;
  padding-right: 8px;
  overflow-y: auto ;
}
.fdxxzhy .minhei22 table th,
.fdxxzhy .minhei22 table td {
  text-align: center !important;
}
.fdxxzhy .minhei22 table tbody tr:nth-child(odd) {
  background-color: transparent;
}
.fdxxzhy .minhei22 table tbody tr:hover {
  background-color: #e3eff5;
}
.fdxxzhy .minhei22 table tbody tr:last-child td {
  border-bottom: 1px solid #dddddd;
}
.table .check-box {
  width: 15px;
  height: 15px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border-radius: 1px;
  background: #FFFFFF;
  border: 1px solid #999;
  margin-top: 3px;
}
.table input[type=checkbox] {
  display: none;
}
.table .check-box i {
  width: 9px;
  height: 9px;
  position: absolute;
  left: 2px;
  top: 2px;
  background: transparent;
  border-radius: 1px;
}
.table .checkedBox i {
  background: #ff8c40;
}
.xdhyglvhy {
  width: 100%;
  overflow: hidden;
  padding-top: 15px;
  border-top: 1px solid #E0E0E0;
}
.xdhyglvhy .ritianshu {
  display: inline-block;
  float: left;
}
.xdhyglvhy .ritianshu span {
  color: #f73e20;
}
.xdhyglvhy .ritianshu input {
  width: 28px;
  text-align: center;
  height: 20px;
  line-height: 20px;
}
.xdhyglvhy .ritianshu.bulls span {
  color: #327dd1;
}
.setli {
  width: 16px;
  height: 16px;
  border: 1px solid #959595;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  float: left;
  background: #fff;
}
.setli i {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 2px auto;
  display: block;
}
.fdxdxtcbox {
  padding: 0;
}
.fdxdxtcbox .modal-dialog {
  width: 760px;
}
.fdxdxtcbox .xqtabbox li {
  width: 16.6%;
}
.fdxdxtcbox .fdxdjuils {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.fdxdxtcbox .fdxdjuils ul {
  width: 100%;
  height: 340px;
  overflow-y: auto;
  padding-right: 8px;
}
.fdxdxtcbox .fdxdjuils ul li {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 14px;
  padding-top: 14px;
  border-bottom: 1px solid #E0E0E0;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.fdxdxtcbox .fdxdjuils ul li.active .setli {
  border: 1px  solid #19b394;
}
.fdxdxtcbox .fdxdjuils ul li.active .setli i {
  background: #19b394;
}
.fdxdxtcbox .fdxdjuils ul li p {
  padding-left: 23px;
  font-size: 13px;
  color: #696969;
}
.fdxdxtcbox .fdxdjuils ul li:hover {
  background: #e3eff5;
}
.gmdxtop {
  width: 100%;
  height: 54px;
  background: #fff;
  position: fixed;
  left: 0;
  top: 4px;
}
.gmdxtop h3 {
  text-align: center;
  line-height: 54px;
  font-size: 16px;
}
.gmdxtop .prebtn {
  position: absolute;
  left: 30px;
  top: 13px;
  color: #cfcfcf;
  font-size: 14px;
  text-decoration: none;
  outline: none;
}
.gmdxtop .prebtn i {
  display: inline-block;
  vertical-align: -3px;
  font-size: 26px;
  margin-right: 13px;
  -webkit-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.gmdxtop .prebtn:hover {
  color: #19b394;
}
.gmdxtop .prebtn:hover i {
  margin-right: 5px;
}
.gmsetdxb {
  margin-top: 59px;
  width: 100%;
  border: 1px solid #E0E0E0;
  background: #fff;
  box-shadow: 0 1px 5px 1px #E0E0E0;
  padding: 15px;
}
.gmsetdxb .gmastul {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.gmsetdxb .gmastul li {
  float: left;
  width: 25%;
  padding: 20px 10px;
  cursor: pointer;
  text-align: center;
}
.gmsetdxb .gmastul li .fmasimg {
  width: 55px;
  display: inline-block;
  vertical-align: top;
  height: 55px;
}
.gmsetdxb .gmastul li .fmasimg img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  -webkit-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.gmsetdxb .gmastul li .fmamstext {
  display: inline-block;
  padding-left: 6px;
}
.gmsetdxb .gmastul li .fmamstext .nn1 {
  font-size: 17px;
  padding-top: 2px;
}
.gmsetdxb .gmastul li .fmamstext .nn2 {
  overflow: hidden;
  padding-top: 6px;
}
.gmsetdxb .gmastul li .fmamstext .nn2 em {
  color: #ff0000;
  display: inline-block;
  vertical-align: top;
}
.gmsetdxb .gmastul li .fmamstext .setisk {
  width: 18px;
  height: 18px;
  display: inline-block;
  border-radius: 50%;
  vertical-align: -1px;
  position: relative;
  margin-left: 30px;
  font-size: 20px;
  color: #dedede;
}
.gmsetdxb .gmastul li.active .setisk {
  color: #19b394;
}
.gmsetdxb .gmastul li:hover .fmasimg img {
  -webkit-transform: translateX(4px);
  -ms-transform: translateX(4px);
  -moz-transform: translateX(4px);
  transform: translateX(4px);
}
.gmsetdxb .gmastul li:hover .nn1 {
  color: #19b394;
}
.gmsezffs {
  width: 100%;
  border: 1px solid #E0E0E0;
  background: #fff;
  box-shadow: 0 1px 5px 1px #E0E0E0;
  padding: 15px;
  margin-top: 12px;
}
.gmsezffs .zffstop {
  width: 100%;
  overflow: hidden;
}
.gmsezffs .zffstop h3 {
  float: left;
  font-size: 18px;
  color: #666666;
}
.gmsezffs .zffstop a {
  float: right;
  color: #2482ca;
  text-decoration: none;
  -webkit-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.gmsezffs .zffstop a:hover {
  color: #F70101;
}
.stecs {
  display: inline-block;
  margin-right: 20px;
  position: relative;
}
.stecs i {
  display: inline-block;
  width: 13px;
  height: 13px;
  border: 1px solid #19B394;
  margin-right: 5px;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}
.stecs i:before {
  width: 7px;
  height: 0px;
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}
.zffsbox {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 25px;
  margin-bottom: 25px;
}
.zffsbox li {
  width: 20%;
  float: left;
  cursor: pointer;
  margin-bottom: 18px;
}
.zffsbox li .jjmimg {
  width: 132px;
  height: 32px;
  border: 1px solid #E0E0E0;
  display: inline-block;
  vertical-align: middle;
  margin-left: 12px;
}
.zffsbox li .jjmimg img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.zffsbox li.active .stecs i:before {
  height: 7px;
  background: #19B394;
}
.gmszfje {
  width: 100%;
  border: 1px solid #E0E0E0;
  background: #fff;
  box-shadow: 0 1px 5px 1px #E0E0E0;
  padding: 24px 15px 15px 15px;
  margin-top: 12px;
  overflow: hidden;
}
.gmszfje .ritianshu {
  float: left;
}
.gmszfje .ritianshu span {
  color: #2482ca;
}
.gmszfje .ritianshu em {
  color: #ff0002;
}
.gmszfje .ybjesuan {
  overflow: hidden;
}
.gmszfje .ybjesuan .msjsbox {
  background: #fe6364;
  color: #fff;
  display: inline-block;
  padding: 8px 13px;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: all 0.25s ;
  -ms-transition: all 0.25s ;
  -moz-transition: all 0.25s ;
  transition: all 0.25s ;
}
.gmszfje .ybjesuan .msjsbox:hover {
  background: #e65b5c;
}
.gmszfje .kkli {
  display: inline-block;
  vertical-align: top;
}
.gmszfje .kkli li {
  display: inline-block;
  margin-right: 60px;
  font-size: 15px;
}
.gmszfje .kkli li i {
  color: #ff484a;
  font-size: 25px;
}
.gmfskfp .win30 {
  width: 33% !important;
}
.gmfskfp .ml2 {
  margin-left: 1%;
}
.gmfskfp .win100 {
  margin-top: 10px;
  margin-left: 21.6%;
}
.gmfskfp .onclas {
  font-size: 13px !important;
  margin-top: 10px;
}
.xdhyglvhy .ritianshu {
        display: inline-block;
        margin-left: 8px;
    }

.xdhyglvhy .ritianshu .stecs {
            display: inline-block;
            margin-right: 20px;
            position: relative;
            margin-bottom: 8px;
        }

.xdhyglvhy .ritianshu .stecs i {
                display: inline-block;
                width: 13px;
                height: 13px;
                border: 1px solid #19B394;
                margin-right: 5px;
                vertical-align: middle;
                position: relative;
                cursor: pointer;
            }

.xdhyglvhy .ritianshu .stecs i:before {
                    width: 7px;
                    height: 0px;
                    content: '';
                    position: absolute;
                    left: 2px;
                    top: 2px;
                    -webkit-transition: all 0.2s;
                    transition: all 0.2s;
                }

.xdhyglvhy .ritianshu .stecs span {
                display: inline-block;
                font-size: 14px;
                vertical-align: middle;
            }

.xdhyglvhy .ritianshu .stecs .roel {
                color: #F05721;
            }

.xdhyglvhy .ritianshu .stecs textarea {
                display: inline-block;
                margin-left: 16px;
                margin-top: 5px;
                width: 92%;
                height: 80px;
                outline: none;
                border-radius: 3px;
                resize: none;
                padding: 5px;
                font-size: 12px;
            }

.xdhyglvhy .ritianshu .stecs.on i:before {
                height: 7px;
                background: #19B394;
            }