.shoujichukuangbox {
  width: 100%;
  position: relative;
}
.chuchuangtop {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 15px 0;
  border-bottom: 1px solid #E0E0E0;
}
.chuchuangtop i {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  color: #27ae89;
  margin-right: 8px;
}
.chuchuangtop .imsbtn {
  color: #27ae89;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.chuchuangtop .imsbtn i {
  display: inline-block;
  vertical-align: -2px;
  font-size: 24px;
  margin-right: 10px;
}
.chuchuangtop .imsbtn span {
  -webkit-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.chuchuangtop .imsbtn:hover {
  color: #f05721;
}
.chuchuangtop .imsbtn:hover i {
  color: #f05721;
}
.chuchuangtop .imsbtn:hover span {
  margin-left: -5px;
}
.ppp15 {
  padding: 5px 30px 30px;
}
.chuchuangbox {
  width: 100%;
  overflow: hidden;
  margin-top: 40px;
  padding-bottom: 40px;
}
.chviwel {
  background-image: url("http://decerp.cc/images/ccphone.png");
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  padding: 61px 8px 69px 10px;
  width: 270px;
  height: 446px;
  margin: auto auto auto 15px;
  position: relative;
}
.chviwel:before {
  content: '';
  width: 120%;
  height: 1px;
  background: #E0E0E0;
  position: absolute;
  left: -10%;
  bottom: -3px;
  box-shadow: 0 2px 10px 1px #E0E0E0;
}
.mobile-box {
    width: 100%;
    position: relative;
    overflow-y: auto;
    background: #f5f5f5 url('http://decerp.cc/images/sybo30.jpg') no-repeat bottom;
    height: 439px;
    font-family: "微软雅黑";
}
.mobile-box .titile {
  width: 100%;
}
.mobile-box .titile img {
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.mobile-box .mobile-top {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.mobile-box .mobile-top .mobtopimg {
  width: 100%;
  height: 120px;
  position: relative;
}
.mobile-box .mobile-top .mobtopimg .swiper-container {
  height: 120px;
}
.mobile-box .mobile-top .mobtopimg img {
  width: 100%;
  height: 100%;
}
.mobile-box .mobile-top .mottetxt {
  width: 100%;
  height: 38px;
  border-bottom: 1px solid #e1e1e1;
  background: #fff;
}
.mobile-box .mobile-top .mottetxt .index-topimages {
  position: absolute;
  bottom: 1rem;
  z-index: 1;
  left: 0.4rem;
}
.mobile-box .mobile-top .mottetxt .index-topimages img {
  width: 40px;
  height: 40px;
  border: 3px solid #c6ecff;
  border-radius: 5px;
}
.mobile-box .mobile-top .mottetxt .index-toptile {
  font-size: 13px;
  color: #5b5b5b;
  float: left;
  line-height: 38px;
  padding-left: 0.6rem;
  margin-left: 3.5rem;
}
.mobile-box .mobile-top .mottetxt .inde-lxbtn {
  float: right;
  font-size: 11px;
  color: #5b5b5b;
  display: block;
  line-height: 38px;
  padding-right: 0.6rem;
  text-decoration: none;
}
.mobile-box .mobile-tbody {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
  background: #fff;
}
.mobile-box .mobile-tbody .Stitexttop {
  position: relative;
  overflow: hidden;
  padding: 10px 0.8rem 5px 0.6rem;
}
.mobile-box .mobile-tbody .Stitexttop .stiexetp {
  float: left;
  font-size: 13px;
  color: #5B5B5B;
}
.mobile-box .mobile-tbody .Stitexttop .stitbtn {
  float: right;
  font-size: 11px;
  color: #5B5B5B;
  text-decoration: none;
}
.mobile-box .mobile-tbody .spteiuip {
  position: relative;
  overflow: hidden;
  padding-right: 0.3rem;
  padding-left: 0.6rem;
}
.mobile-box .mobile-tbody .spteiuip li {
  width: 48%;
  float: left;
  margin-bottom: 10px;
  border: 1px solid #E1E1E1;
}
.mobile-box .mobile-tbody .spteiuip li a {
  text-decoration: none;
}
.mobile-box .mobile-tbody .spteiuip li:nth-child(2n) {
  margin-left: 2.9%;
}
.mobile-box .mobile-tbody .spteiuip li .spteiimg {
  width: 100%;
  position: relative;
  padding: 5px;
}
.mobile-box .mobile-tbody .spteiuip li .spteiimg img {
  width: 100%;
  height: 80px;
}
.mobile-box .mobile-tbody .spteiuip li .spttttext {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
}
.mobile-box .mobile-tbody .spteiuip li .spttttext h3 {
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mobile-box .mobile-tbody .spteiuip li .spttttext .spptiis {
  padding-top: 5px;
}
.mobile-box .mobile-tbody .spteiuip li .spttttext .spptiis span {
  color: #ff1717;
  font-size: 13px;
  padding-bottom: 5px;
}
.mobile-box .mobile-tbody .spteiuip li .spttttext .spptiis i {
  text-align: right;
  width: 15px;
  height: 15px;
  background: #ff6666;
  display: inline-block;
  float: right;
  border-radius: 50%;
}
.ccerweibox {
  float: left;
  margin-left: 120px;
  margin-top: 40px;
}
.ccerweibox .cctipbtn {
  background: #31c17b;
  color: #fff;
  display: block;
  width: 227px;
  padding: 16px 0;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  -webkit-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
  border-bottom: 0 solid #258f5b;
}
.ccerweibox .cctipbtn:hover {
  border-bottom: 4px solid #258f5b;
}
.ccerweibox .lisp {
  font-size: 13px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 7px;
}
.ccerweibox .erweimabox {
  width: 227px;
  height: 227px;
  border: 1px solid #E0E0E0;
  padding: 20px;
}
.ccerweibox .erweimabox img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.ccerweibox .ccbonomte {
  width: 227px;
  display: block;
  margin-top: 15px;
  overflow: hidden;
}
.ccerweibox .ccbonomte a {
  width: 48%;
  display: block;
  background: #dff0d8;
  border: 1px solid #99c9b2;
  font-size: 13px;
  text-align: center;
  color: #31c17b;
  padding: 6px 0;
  text-decoration: none;
  -webkit-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
.ccerweibox .ccbonomte a:hover {
  background: #31c17b;
  color: #fff;
}
.wschuancobx {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 25px;
  margin-bottom: 20px;
}
.wschuancobx .wsccxxtxie {
  width: 460px;
  overflow: hidden;
  padding-top: 45px;
  position: relative;
  margin-left: 50px;
  padding: 5px;
}
.wschuancobx .wsccxxtxie .tupinshangchuan {
  width: 100%;
  border: 1px solid #E0E0E0;
  padding: 15px;
  overflow: hidden;
  box-shadow: 0 0px 5px 1px #E0E0E0;
}
.wschuancobx .wsccxxtxie .tupinshangchuan .sctptik {
  padding-top: 5px;
  padding-bottom: 15px;
}
.wschuancobx .wsccxxtxie .tupinshangchuan .sctptik span,
.wschuancobx .wsccxxtxie .tupinshangchuan .sctptik i {
  display: inline-block;
}
.wschuancobx .wsccxxtxie .tupinshangchuan .sctptik i {
  color: #999;
  margin-left: 5px;
}
.wschuancobx .wsccxxtxie .tupinshangchuan .sctptik a {
  display: inline-block;
  font-size: 12px;
  margin-left: 5px;
  color: #007AFF;
}
.wschuancobx .wsccxxtxie .tupinshangchuan .Tuimgbox li {
  margin-left: 15px;
}
.wschuancobx .wsccxxtxie .tianxiekutebox {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 15px;
}
.wschuancobx .wsccxxtxie .tianxiekutebox li {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 18px;
}
.wschuancobx .wsccxxtxie .tianxiekutebox li span {
  display: inline-block;
  vertical-align: -4px;
}
.wschuancobx .wsccxxtxie .tianxiekutebox li input {
  width: 83%;
  vertical-align: middle;
  display: inline-block;
  height: 34px;
  border-radius: 3px;
  border: 1px solid #C7C7C7;
  line-height: 34px;
  outline: none;
  padding-left: 15px;
  margin-left: 15px;
}
.wschuancobx .wsccxxtxie .tianxiekutebox li i {
  color: #999;
  font-size: 13px;
}
.wschuancobx .wsccxxtxie .tianxiekutebox li select {
  margin-left: 15px;
}
.wschuancobx .wsccxxtxie .tianxiekutebox li .liso {
  margin-top: 22px;
}
.wschuancobx .wsccxxtxie.ws560 {
  width: 560px;
}
.wschuancobx .wsccxxtxie.ws560 .tupinshangchuan .Tuimgbox li {
  margin-left: 36px;
}
.wschuancobx .wsccxxtxie.ws560 .tianxiekutebox li input {
  width: 85%;
}
input[disabled] {
  background: #eaf2ff;
}
textarea:focus,
input:focus {
  border-color: #66afe9 !important;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.win30 {
  width: 38% !important;
}
.win20 {
  width: 20% !important;
}
.dizhibti {
  margin-left: 75px !important;
  margin-top: 18px !important;
}
.boancbtn {
  background: #27ae89;
  color: #fff !important;
  display: inline-block;
  padding: 7px 25px;
  border-radius: 5px;
  text-decoration: none !important;
  margin-top: 15px;
  float: right;
  margin-right: 0;
  -webkit-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.boancbtn:hover {
  background: #0F8C73;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  transform: translateY(-2px);
}
.paatop5 {
  padding-top: 8px;
}
.zsspsrt {
  border: 1px solid #ff6666;
  padding: 0 !important;
  border-radius: 5px;
  overflow: hidden;
}
.zsspsrt a {
  float: left;
  padding: 4px 15px !important;
  display: inline-block;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.zsspsrt a:first-child {
  border-right: 1px solid #FF6666;
}
.zsspsrt a.active {
  background: #FF6666;
  color: #fff;
}
.zsspsrt a:hover {
  color: #FF6666 !important;
}
.zsspsrt a.active:hover {
  background: #e75b5b !important;
  color: #fff !important;
}
.mrlsi {
  line-height: 29px;
  margin-right: 10px;
  float: right;
  color: #666666;
}
.mrlsi i {
  color: #ff0000;
}
.zsspptable {
  width: 100%;
  border-top: 1px solid #E0E0E0;
}
.memeber_czjl .table .xstbbtn a {
  color: #6888ff;
  background: transparent;
}
.memeber_czjl .table .xstbbtn a:hover {
  background: transparent;
  color: #FF6666;
}
.memeber_czjl .table th {
  text-align: center !important;
}
.memeber_czjl .table tbody td {
  text-align: center !important;
}
.memeber_czjl .table tbody tr td:first-child {
  text-align: left !important;
  padding-left: 50px;
}
.memeber_czjl .table th:first-child {
  text-align: left !important;
  padding-left: 50px;
}
.rebox {
  background: #f16848;
  color: #fff;
  border-radius: 4px;
  height: 23px;
  padding: 2px 7px;
  font-size: 12px;
}
.winrbox {
  background: #f16848;
  color: #fff;
  border-radius: 4px;
  width: 23px;
  padding: 2px 5px;
  font-size: 12px;
}
.winrboxnone {
  background: #f16848;
  color: #fff;
  border-radius: 4px;
  width: 23px;
  padding: 2px 5px;
  font-size: 12px;
  opacity: 0;
}
.mslefr {
  width: 80px;
  display: inline-block;
}
.messrr {
  display: inline-block;
  cursor: pointer;
}
.ccqxzsspxq .modal-dialog {
  width: 680px;
}
.ccqxzsspxq .Tuimgbox li {
  margin-left: 60px;
}
.ccqxzsspxq .zsspxxibox {
  width: 100%;
  padding: 18px;
  position: relative;
  overflow: hidden;
}
.ccqxzsspxq .zsspxxibox li {
  width: 65%;
  float: left;
  color: #383838;
  font-size: 13px;
  margin-bottom: 18px;
}
.ccqxzsspxq .zsspxxibox li span {
  display: inline-block;
  vertical-align: top;
}
.ccqxzsspxq .zsspxxibox li span:nth-child(1) {
  margin-right: 8px;
}
.ccqxzsspxq .zsspxxibox li span:nth-child(2) {
  width: 72%;
}
.ccqxzsspxq .zsspxxibox li span i {
  color: #FF0000;
}
.ccqxzsspxq .zsspxxibox li span em {
  color: #19b394;
}
.ccqxzsspxq .zsspxxibox li textarea {
  display: inline-block;
  width: 65%;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  height: 60px;
  resize: none;
  padding: 5px 10px;
  vertical-align: top;
}
.ccqxzsspxq .zsspxxibox li .imsbtn {
  background: #27ae89;
  display: inline-block;
  color: #fff;
  padding: 6px 16px;
  border-radius: 5px;
  text-decoration: none;
  margin-left: 30px;
  vertical-align: -35px;
  -webkit-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
.ccqxzsspxq .zsspxxibox li .imsbtn:hover {
  background: #229a79;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  transform: translateY(-2px);
}
.ccqxzsspxq .zsspxxibox li.maxwin {
  width: 100%;
}
.ccqxzsspxq .zsspxxibox li:nth-child(2n) {
  float: right;
  text-align: left;
  width: 35%;
}
.ccqxzsspxq .zsspxxibox li:nth-child(2n) span:nth-child(2) {
  width: 68%;
}
.Tuimgbox {
  width: 100%;
  padding: 5px;
  position: relative;
  overflow: hidden;
}
.Tuimgbox li {
  float: left;
  position: relative;
}
.Tuimgbox .newimg {
  width: 120px;
  height: 120px;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #E0E0E0;
}
.Tuimgbox .newimg img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  vertical-align: top;
}
.Tuimgbox .newimg .mslao {
  width: 46%;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: block;
  color: #3de17f;
  padding: 5px 0;
  text-align: center;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  -ms-transition: all 0.25s linear;
  transition: all 0.25s linear;
  text-decoration: none;
}
.Tuimgbox .newimg .mslao:hover {
  color: #FF0000;
}
.Tuimgbox .newimg .mslao .finput {
  height: 31px;
  overflow: hidden;
  font-size: 150px;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}
.Tuimgbox .newimg .mslao.ll {
  left: 0;
}
.Tuimgbox .newimg .mslao.rr {
  right: 0;
}
.Tuimgbox .newimg:hover .mslao {
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  transform: translateY(0px);
}
.Tuimgbox .addimg {
  width: 120px;
  height: 120px;
  border-radius: 4px;
  overflow: hidden;
  background: url("http://decerp.cc/images/ccdjscimg.png") no-repeat;
  background-size: cover;
}
.Tuimgbox .fileInput {
  height: 120px;
  overflow: hidden;
  font-size: 150px;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}
.Tuimgbox .win20kk {
  width: 23.2%;
  overflow: hidden;
  float: left;
  margin-left: 12px !important;
}
.Tuimgbox .win20kk .mslao {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  display: block;
  text-align: center;
  overflow: hidden;
  margin: 15px auto;
  text-decoration: none !important;
  color: #F4756E;
  position: relative;
  font-size: 16px;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.Tuimgbox .win20kk .mslao .finput {
  height: 60px;
  overflow: hidden;
  font-size: 50px;
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}
.Tuimgbox .win20kk .mslao:hover {
  color: #F4756E;
  border: 1px solid #F4756E;
}
.Tuimgbox .win20kk .mslao img {
  width: 60px;
  height: 60px;
  display: block;
  margin: 9px auto;
}
.Tuimgbox .win20kk .mskkes {
  width: 100px;
  border: 1px solid #e0e0e0;
  padding: 2px 4px;
  display: block;
  margin: 8px auto;
  font-size: 13px;
}
.Tuimgbox .win20kk:first-child {
  margin-left: 0 !important;
}
.Tuimgbox .win20kk .buttons {
  width: 100%;
  position: relative;
}
.Tuimgbox .win20kk .buttons a {
  position: relative;
  overflow: hidden;
  padding: 0 11px;
  color: #fff;
  margin-left: 6px;
  margin-top: 6px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
}
.Tuimgbox .win20kk .buttons a:first-child {
  background: #45b6af;
}
.Tuimgbox .win20kk .buttons a:last-child {
  background: #ff6666;
}
.Tuimgbox .win20kk .buttons a:hover {
  opacity: 0.8;
}
.yhquli li {
  width: 100%;
  position: relative;
  padding: 5px 5px;
  overflow: hidden;
  margin-bottom: 8px;
  margin-left: 0 !important;
}
.yhquli li .win22 {
  border: 1px solid #e0e0e0;
  width: 80px;
  display: inline-block;
  padding: 2px 5px;
  height: 32px;
  line-height: 32px;
}
.yhquli li span {
  display: inline-block;
  margin: 0 4px;
}
.yhquli li .fr .win22 {
  width: 120px;
}
.yhquli li .fr a {
  position: relative;
  overflow: hidden;
  padding: 0 16px;
  color: #fff;
  margin-left: 6px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  display: inline-block;
  vertical-align: -10px;
}
.addyhqbtn {
  display: inline-block;
  background: #31c17b;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #fff;
  color: #fff !important;
  border-radius: 5px;
  text-decoration: none !important;
  font-size: 18px;
  -webkit-transition: 0.25s all;
  -ms-transition: 0.25s all;
  -moz-transition: 0.25s all;
  transition: 0.25s all;
  margin-top: 8px;
  margin-left: 10px;
}
.addyhqbtn:hover {
  opacity: 0.8;
  background: #0F8C73;
}
.maxmobievile {
  position: relative;
  overflow: hidden;
  width: 360px;
}
.maxmobievile .maotitle {
  text-align: center;
  font-size: 15px;
  padding-bottom: 25px;
}
.maxmobievile .mobiemax {
  background-image: url("http://decerp.cc/images/iPhonemax.png");
  width: 270px;
  height: 582px;
  padding: 72px 12px 70px 14px;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
  margin: auto;
  z-index: 9;
  overflow: hidden;
  position: relative;
}
.maxmobievile .mobileboox {
  width: 100%;
  height: 439px;
  background: #ebeeee url("http://decerp.cc/images/xqbo30.jpg") bottom no-repeat;
  position: relative;
  overflow-y: auto;
}
.maxmobievile .mobileboox .molunbo {
  width: 100%;
  height: 240px;
  position: relative;
  overflow: hidden;
}
.maxmobievile .mobileboox .molunbo .swiper-wrapper {
  width: 100%;
  height: 240px;
  margin: 0 auto;
}
.maxmobievile .mobileboox .molunbo .swiper-wrapper img {
  width: 100%;
  height: 240px;
}
.maxmobievile .mobileboox .molunbo .swiper-pagination {
  background: rgba(198, 202, 204, 0.8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 11px;
  color: #fff;
  line-height: 40px;
  left: 80%;
  bottom: 6%;
}
.maxmobievile .mobileboox .molunbo .swiper-pagination .swiper-pagination-current {
  font-size: 14px;
}
.maxmobievile .mobileboox .product-name {
  width: 100%;
  padding: 4px 5px;
  background: #fff;
}
.maxmobievile .mobileboox .product-name h3 {
  font-size: 12px;
  color: #656565;
}
.maxmobievile .mobileboox .product-name p {
  font-size: 14px;
  color: #ff6060;
  padding-top: 1px;
}
.maxmobievile .mobileboox .mabot5 {
  margin-bottom: 5px;
}
.maxmobievile .mobileboox .product-dpjj {
  width: 100%;
  position: relative;
  background: #fff;
  padding: 6px 5px;
  color: #656565;
}
.maxmobievile .mobileboox .product-dpjj .dpjjbox {
  overflow: hidden;
}
.maxmobievile .mobileboox .product-dpjj .dpjjbox .dpimg {
  float: left;
  width: 48px;
  height: 48px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  overflow: hidden;
}
.maxmobievile .mobileboox .product-dpjj .dpjjbox .dpimg img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.maxmobievile .mobileboox .product-dpjj .dpjjbox .dptext {
  float: left;
  margin-left: 7px;
  width: 72.9%;
}
.maxmobievile .mobileboox .product-dpjj .dpjjbox .dptext h5 {
  overflow: hidden;
  width: 100%;
}
.maxmobievile .mobileboox .product-dpjj .dpjjbox .dptext h5 span {
  float: left;
  font-size: 13px;
}
.maxmobievile .mobileboox .product-dpjj .dpjjbox .dptext h5 a {
  font-size: 11px;
  float: right;
  color: #ff1717;
  display: block;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
}
.maxmobievile .mobileboox .product-dpjj .dpjjbox .dptext p {
  font-size: 11px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 2px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #000;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
}
.maxmobievile .mobileboox .product-twtab {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #E5E5E5;
  background: #fff;
}
.maxmobievile .mobileboox .product-twtab a {
  display: inline-block;
  width: 48%;
  text-align: center;
  font-size: 11px;
  padding: 6px 5px;
}
.maxmobievile .mobileboox .product-twtab a.active {
  border-bottom: 2px solid #FF1717;
}
.maxmobievile .mobileboox .twxsbox {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #fff;
  padding: 8px 0;
  margin-bottom: 40px;
}
.maxmobievile .mobileboox .twxsbox p {
  width: 100%;
  padding: 0px 10px;
}
.maxmobievile .mobileboox .twxsbox p img {
  width: 100%;
  vertical-align: top;
}
.bggreen {
  color: #19b394;
}
.ccsystembox {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 35px 0;
}
.ccsystembox ul {
  padding-bottom: 20px;
  border-bottom: 1px solid #E0E0E0;
}
.ccsystembox li {
  width: 100%;
  position: relative;
  margin-bottom: 30px;
}
.ccsystembox li span {
  display: inline-block;
}
.ccsystembox li span:first-child {
  margin-right: 15px;
  vertical-align: top;
}
.ccsystembox li .ritianshu p {
  color: #999;
  font-size: 13px;
  padding-top: 8px;
  padding-left: 18px;
}
.ccsystembox .grenbtn {
  margin-top: 28px;
}
.grenbtn {
  background: #27ae89;
  display: inline-block;
  padding: 6px 17px;
  color: #fff !important;
  text-decoration: none !important;
  border-radius: 5px;
  -webkit-transition-timing-function: cubic-bezier(0.54, 1.85, 0.5, 1);
  -webkit-transition-duration: 0.4s;
  -webkit-transition-property: transform, background-color, box-shadow;
  -moz-transition-timing-function: cubic-bezier(0.54, 1.85, 0.5, 1);
  -moz-transition-duration: 0.4s;
  -moz-transition-property: transform, background-color;
  transition-timing-function: cubic-bezier(0.54, 1.85, 0.5, 1);
  transition-duration: 0.4s;
  transition-property: transform, background-color, box-shadow;
  -ms-transition-timing-function: cubic-bezier(0.54, 1.85, 0.5, 1);
  -ms-transition-duration: 0.4s;
  -ms-transition-property: transform, background-color;
}
.grenbtn:hover {
  background: #229a79;
  -webkit-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -moz-transform: translateY(-2px);
  transform: translateY(-2px);
}
.swtith {
  width: 62px;
  height: 25px;
  background: #eee;
  border: 1px solid #DDDDDD;
  display: inline-block;
  vertical-align: middle;
  border-radius: 15px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  position: relative;
  -webkit-transition-timing-function: cubic-bezier(0.54, 1.85, 0.5, 1);
  -webkit-transition-duration: 0.4s;
  -webkit-transition-property: transform, background-color, box-shadow;
  -moz-transition-timing-function: cubic-bezier(0.54, 1.85, 0.5, 1);
  -moz-transition-duration: 0.4s;
  -moz-transition-property: transform, background-color;
  transition-timing-function: cubic-bezier(0.54, 1.85, 0.5, 1);
  transition-duration: 0.4s;
  transition-property: transform, background-color, box-shadow;
  -ms-transition-timing-function: cubic-bezier(0.54, 1.85, 0.5, 1);
  -ms-transition-duration: 0.4s;
  -ms-transition-property: transform, background-color;
}
.swtith i {
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  border: 1px solid #ddd;
  -webkit-transition: all 0.4s cubic-bezier(0.54, 1.85, 0.5, 1);
  -ms-transition: all 0.4s cubic-bezier(0.54, 1.85, 0.5, 1);
  -moz-transition: all 0.4s cubic-bezier(0.54, 1.85, 0.5, 1);
  transition: all 0.4s cubic-bezier(0.54, 1.85, 0.5, 1);
}
.swtith.open {
  background: #19B394;
}
.swtith.open i {
  -webkit-transform: translate3d(36px, 0px, 0px);
  -ms-transform: translate3d(36px, 0px, 0px);
  -moz-transform: translate3d(36px, 0px, 0px);
  transform: translate3d(36px, 0px, 0px);
}
.border1px {
  border: 1px solid #E0E0E0;
}
.wXcardbox {
  border: 1px solid #E0E0E0;
  padding: 25px 0;
}
.card-kp {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 144px;
  text-align: center;
  background: #fff;
}
.card-kp .cradbg {
  content: '';
  display: block;
  height: 95px;
  width: 100%;
  position: absolute;
  background: url("http://decerp.cc/images/cardbg.jpg") no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-filter: blur(3px);
  /* Chrome, Opera */
  -moz-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}
.card-kp .cradkpshow {
  height: 132px;
  overflow: hidden;
  margin: 15px auto 0;
  display: inline-block;
  position: relative;
  z-index: 2;
  width: 80%;
}
.card-kp .cradkpshow .carddd {
  width: 100%;
  margin: 0 auto;
  height: 117px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  position: relative;
}
.card-kp .cradkpshow .carddd h3 {
  color: #1482F3;
  text-align: right;
  padding-top: 9px;
  padding-right: 8px;
  font-weight: 600;
}
.card-kp .cradkpshow .carddd i {
  position: absolute;
  left: 15px;
  font-size: 15px;
  bottom: 6px;
  color: #fff;
  font-weight: 600;
}
.card-kp .cradkpshow .carddd.theme {
  background-image: url("http://decerp.cc/images/carddd.png");
}
.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.cardindex {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  background: #eee;
}
.cardindex li {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 0 6px;
  background: #fff;
}
.cardindex li .cardtext {
  padding: 10px 0;
  border-bottom: 1px solid #E0E0E0;
  word-break: break-all;
  margin-left: 30px;
  overflow: hidden;
  color: #666;
  height: 32px;
  line-height: 10px;
  position: relative;
  font-size: 12px;
}
.cardindex li .cardtext span {
  display: inline-block;
  vertical-align: middle;
  font-size: 12px;
}
.cardindex li .cardtext i {
  position: absolute;
  right: 0.5rem;
  top: 11px;
  width: 8px;
  height: 8px;
  border-left: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.cardindex li .cardtext span:nth-child(1) {
  float: left;
}
.cardindex li .cardtext span:nth-child(2) {
  float: right;
  color: #b3b3b3;
  padding-right: 15px;
}
.cardindex li.boteno .cardtext {
  border-bottom: none;
}
.cardion {
  width: 25px;
  height: 25px;
  background: url("http://decerp.cc/images/cardiocn.png") no-repeat;
  display: inline-block;
  float: left;
  background-size: 150px;
  background-position: 0rem rem;
}
.cricon-wdjf {
  background-position: 0rem -2.7rem;
}
.cricon-yhq {
  background-position: 0rem -5.6rem;
}
.cricon-grxx {
  background-position: 0rem -8.2rem;
}
.cricon-wdzd {
  background-position: 0rem -10.9rem;
}
.cricon-mddh {
  background-position: 0rem -16rem;
}
.cricon-hyksm {
  background-position: 0rem -19.1rem;
}
.matop10 {
  margin-top: 10px;
}
.bgnone {
  background: transparent;
}
.matop30px {
  margin-top: 30px;
}
.win2fz {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.win2fz li {
  width: 50%;
  float: left;
}
.win2fz li .Tuimgbox li {
  margin-left: 0 !important;
}
.wschuancobx .wsccxxtxie .tianxiekutebox li input {
  width: 74%;
  float: right;
}
.wschuancobx .wsccxxtxie .tianxiekutebox li select {
  margin-left: 15px;
  width: 74%;
}
.wschuancobx .wsccxxtxie .tianxiekutebox li .mellf35 {
  margin-left: 43px;
}
.wschuancobx .wsccxxtxie .tianxiekutebox .xxxsa {
  padding-left: 120px;
  padding-top: 10px;
  display: block;
}
.wschuancobx .wsccxxtxie .tianxiekutebox li.uptimg {
  overflow: hidden;
}
.wschuancobx .wsccxxtxie .tianxiekutebox li.uptimg .litimgbox {
  width: 215px;
  float: left;
  overflow: hidden;
}
.wschuancobx .wsccxxtxie .tianxiekutebox li.uptimg .litimgbox h3 {
  text-align: center;
  padding: 8px 0;
}
.wschuancobx .wsccxxtxie .tianxiekutebox li.uptimg .litimgbox .pic-control {
  display: block;
  overflow: hidden;
  width: 100%;
  margin: 0 5px 10px 0;
}
.wschuancobx .wsccxxtxie .tianxiekutebox li.uptimg .litimgbox .pic-control .thumbnail {
  display: block;
  margin: 0 0 4px 0;
  cursor: pointer;
  width: 100%;
  height: 140px;
  overflow: hidden;
}
.wschuancobx .wsccxxtxie .tianxiekutebox li.uptimg .litimgbox .pic-control .thumbnail img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.wschuancobx .wsccxxtxie .tianxiekutebox li.uptimg .litimgbox .pic-control .buttons {
  text-align: center;
}
.wschuancobx .wsccxxtxie .tianxiekutebox li.uptimg .litimgbox .pic-control .buttons a {
  position: relative;
  overflow: hidden;
  padding: 0 10px;
  color: #fff;
  margin-left: 6px;
}
.wschuancobx .wsccxxtxie .tianxiekutebox li.uptimg .litimgbox .pic-control .buttons a i {
  color: #fff;
  margin-right: 5px;
}
.wschuancobx .wsccxxtxie .tianxiekutebox li.uptimg .litimgbox .pic-control .buttons a:first-child {
  margin-left: 0;
}
.wschuancobx .wsccxxtxie .tianxiekutebox li.uptimg .litimgbox:last-child {
  float: right;
}
.wschuancobx .wsccxxtxie .tianxiekutebox li.uptimg .help-block {
  font-size: 12px;
  text-align: center;
}
.wschuancobx .wsccxxtxie .tianxiekutebox li.corbtns a {
  font-size: 15px;
  height: 37px;
  line-height: 37px;
  padding: 0 20px;
  color: #fff;
}
.wschuancobx .wsccxxtxie .tianxiekutebox li.corbtns .button-action {
  background-color: #27ae89;
  border-color: #27ae89;
  border-radius: 4px;
  padding: 0 33px;
  height: 35px;
  line-height: 35px;
}
.wschuancobx .wsccxxtxie .tianxiekutebox li.corbtns .button-action:hover,
.wschuancobx .wsccxxtxie .tianxiekutebox li.corbtns .button-action:focus,
.wschuancobx .wsccxxtxie .tianxiekutebox li.corbtns .button-action-flat:hover,
.wschuancobx .wsccxxtxie .tianxiekutebox li.corbtns .button-action-flat:focus {
  background-color: #42c19e;
  border-color: #7bddc2;
}
.wschuancobx .wsccxxtxie .tianxiekutebox li.corbtns.pas55 {
  padding: 15px  ;
}
.reweimviewl {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 18px 0 ;
}
.reweimviewl .nn1 {
  text-align: center;
}
.reweimviewl .nn1 i {
  color: #ff6666;
}
.reweimviewl .nn1 i:hover {
  text-decoration: underline;
  cursor: pointer;
}
.reweimviewl .ewmkuang {
  width: 130px;
  height: 130px;
  border: 1px solid #E0E0E0;
  margin: 10px auto;
  padding: 3px;
}
.reweimviewl .ewmkuang img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.reweimviewl .erwbot {
  text-align: center;
  margin-top: 10px;
}
.reweimviewl .erwbot input {
  border: 1px solid #E0E0E0;
  display: inline-block;
  height: 31px;
  padding: 6px 10px;
}
.reweimviewl .erwbot a {
  padding: 0 15px;
  color: #fff;
}
.ziybjxz .modal-dialog {
  width: 640px;
}
.ziybjxz .zdybjuise {
  width: 100%;
  position: relative;
  height: 330px;
  margin-left: 1px;
  overflow-y: auto;
}
.ziybjxz .zdybjuise li {
  margin-top: 15px;
  width: 21.5%;
  height: 75px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
}
.ziybjxz .zdybjuise li img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.ziybjxz .zdybjuise li i {
  width: 22px;
  height: 22px;
  background: #ff5400;
  position: absolute;
  right: -8px;
  overflow: hidden;
  top: -8px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 1px 3px 1px #ffcfb9;
  -webkit-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}
.ziybjxz .zdybjuise li i:before {
  width: 6px;
  height: 2px;
  background: #fff;
  content: '';
  position: absolute;
  left: 3px;
  top: 13px;
  -webkit-transform: rotate(45deg) translateX(-25px);
  -ms-transform: rotate(45deg) translateX(-25px);
  -moz-transform: rotate(45deg) translateX(-25px);
  transform: rotate(45deg) translateX(-25px);
  -webkit-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.ziybjxz .zdybjuise li i:after {
  width: 14px;
  height: 2px;
  background: #fff;
  content: '';
  position: absolute;
  left: 6px;
  top: 11px;
  -webkit-transform: rotate(-45deg) translateX(-25px);
  -ms-transform: rotate(-45deg) translateX(-25px);
  -moz-transform: rotate(-45deg) translateX(-25px);
  transform: rotate(-45deg) translateX(-25px);
  -webkit-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.ziybjxz .zdybjuise li.active i {
  opacity: 1;
}
.ziybjxz .zdybjuise li.active i:before {
  -webkit-transform: rotate(45deg) translateX(0px);
  -ms-transform: rotate(45deg) translateX(0px);
  -moz-transform: rotate(45deg) translateX(0px);
  transform: rotate(45deg) translateX(0px);
}
.ziybjxz .zdybjuise li.active i:after {
  -webkit-transform: rotate(-45deg) translatex(0px);
  -ms-transform: rotate(-45deg) translatex(0px);
  -moz-transform: rotate(-45deg) translatex(0px);
  transform: rotate(-45deg) translatex(0px);
}
.flies {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
  width: auto !important;
  float: none !important;
}
.szkagz .modal-dialog {
  width: 550px;
}
.szkagz .modderlis {
  height: 330px;
  overflow-y: auto;
}
.szkagz .modderlis .form-control {
  width: 100%;
  margin-top: 5px;
}
.szkagz .modderlis .mistext {
  font-size: 13px;
  color: #999;
  margin-top: 6px;
}
.szkagz .modderlis input {
  margin-top: 5px;
  width: 100% !important;
}
.Wxbdtext {
  width: 100%;
  position: relative;
  overflow: hidden;
  border: 1px solid #eaeced;
  margin-top: 25px;
  padding: 20px 25px;
}
.masbo {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
}
.masbo span {
  font-size: 15px;
  display: inline-block;
  vertical-align: -3px;
}
.lkkkl {
  display: inline-block;
  width: 38px;
  height: 38px;
  background: #afe8dd;
  border-radius: 50%;
  margin-right: 15px;
}
.lkkkl em {
  display: block;
  width: 28px;
  height: 28px;
  margin: 0 auto;
  background: #65c26f;
  color: #fff;
  border-radius: 50%;
  margin-top: 5px;
  text-align: center;
  line-height: 28px;
  font-size: 17px;
}
.seltkks {
  padding-left: 54px;
  padding-top: 15px;
}
.lkkab {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 30px;
}
.lkkab input {
  display: inline-block;
  margin-left: 50px;
  width: 140px;
  height: 30px;
  padding: 0 5px;
  line-height: 30px;
  margin-right: 25px;
}
.lkkab a {
  display: inline-block;
  background: #27ae89;
  margin-left: 20px;
  color: #fff;
  padding: 7px 23px;
  border-radius: 4px;
}
.lkkab a:hover {
  background: #0F8C73;
  text-decoration: none;
}
.lkkab a.qxbd {
  border: 1px solid #19B394 ;
  color: #19B394 !important;
  background: #fff;
  margin-left: 25px;
}
.lkkab a.qxbd:hover {
  background: #17BA99;
  color: #fff !important;
}
.msasbinput {
  padding-left: 54px;
}
.msasbinput input {
  display: block;
  margin-bottom: 18px;
  width: 370px;
  border: 1px solid #E0E0E0;
  line-height: 33px;
  height: 33px;
  padding: 2px 8px;
  border-radius: 5px;
}
.indexlunbo .swiper-container {
  height: 140px;
}
.indexlunbo .swiper-container img {
  width: 100%;
  height: 100%;
}
.indexlunbo .swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  border: 2px solid #fff;
}
.indexlunbo .swiper-pagination .swiper-pagination-bullet-active {
  background: #fff;
}
.indexnasvs {
  width: 100%;
  position: relative;
  background: #fff;
  margin-top: 10px;
  margin-bottom: 9px;
  overflow: hidden;
}
.indexnasvs a {
  text-align: center;
  display: block;
  width: 25%;
  float: left;
  color: #4d525d;
  text-decoration: none;
}
.indexnasvs a i {
  display: block;
  width: 40px;
  height: 40px;
  margin: 6px auto 2px auto;
}
.indexnasvs a i img {
  width: 100%;
  height: 100%;
}
.indexnasvs a span {
  margin-bottom: 6px;
  display: block;
  font-size: 12px;
}
.index-fixedkuang .index-fiebg {
  width: 100%;
  height: 520px;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  top: 0;
  bottom: -100px;
  max-width: 768px;
  display: none;
  z-index: 100;
}
.index-fixedkuang .index-lxmjtk {
  width: 88%;
  background: #fff;
  position: absolute;
  left: 6%;
  top: 12%;
  overflow: hidden;
  border-radius: 5px;
  -webkit-transition: 0.15s all ease-in-out 0.1s;
  -ms-transition: 0.15s all ease-in-out 0.1s;
  -moz-transition: 0.15s all ease-in-out 0.1s;
  transition: 0.15s all ease-in-out 0.1s;
  -webkit-transform: translateY(-20%) scale(0.1);
  -ms-transform: translateY(-20%) scale(0.1);
  -moz-transform: translateY(-20%) scale(0.1);
  transform: translateY(-20%) scale(0.1);
}
.index-fixedkuang .index-lxmjtk .index-img {
  width: 100%;
  background: #32be79;
  padding: 8px;
}
.index-fixedkuang .index-lxmjtk .index-img img {
  width: 60px;
  height: 60px;
  margin: 2px auto;
  display: block;
  border-radius: 5px;
  border: 4px solid #6be1af;
}
.index-fixedkuang .index-lxmjtk .index-img p {
  text-align: center;
  color: #fff;
  padding: 2px 0;
}
.index-fixedkuang .index-lxmjtk .index-conte {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 10px;
}
.index-fixedkuang .index-lxmjtk .index-conte .index-continptu {
  width: 100%;
  position: relative;
  overflow: hidden;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  padding: 8px 5px;
  font-size: 12px;
}
.index-fixedkuang .index-lxmjtk .index-conte .index-continptu span {
  display: inline-block;
}
.index-fixedkuang .index-lxmjtk .index-conte .index-continptu span:first-child {
  color: #8c8c8c;
  margin-right: 8px;
}
.index-fixedkuang .index-lxmjtk .index-conte .index-continptu i {
  float: right;
  color: #FF0000;
  background: url("http://decerp.cc/images/smallphone.png") no-repeat;
  background-size: 20px;
  padding-left: 20px;
  background-position: 0 -1px;
}
.index-fixedkuang .index-lxmjtk .index-conte .index-continptu:first-child {
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.index-fixedkuang .index-lxmjtk .index-conte .index-continptu:last-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.index-fixedkuang .index-lxmjtk .index-conte .index-continptu:last-child span:nth-child(2) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 75%;
  vertical-align: top;
}
.index-fixedkuang .index-lxmjtk .index-conbtoom {
  width: 100%;
  display: block;
  padding: 10px 15px;
  text-align: center;
  font-size: 15px;
  text-decoration: none !important;
}
.index-fixedkuang .index-lxmjtk .index-conbtoom:hover {
  color: #FF0002;
}
.index-fixedkuang .index-fiebg.open {
  display: block;
}
.index-fixedkuang .index-fiebg.open .index-lxmjtk {
  -webkit-transform: translateY(0%) scale(1);
  -ms-transform: translateY(0%) scale(1);
  -moz-transform: translateY(0%) scale(1);
  transform: translateY(0%) scale(1);
}
.index-fixedkuang .diicon {
  display: inline-block;
  width: 28px;
  height: 25px;
  background: url("http://decerp.cc/images/wdicon.png") no-repeat;
  background-size: 200px;
  vertical-align: -6px;
  background-position: -8.4rem 0rem;
}
.index-fixedkuang em,
.index-fixedkuang i {
  font-style: normal;
}
.index-fixedkuang .index-fixeduil {
  width: 48px;
  position: absolute;
  right: 0;
  bottom: 8%;
  max-width: 768px;
  z-index: 99;
}
.index-fixedkuang .index-fixeduil li {
  width: 48px;
  height: 48px;
  background: rgba(0, 0, 0, 0.6);
}
.index-fixedkuang .index-fixeduil li a {
  width: 48px;
  height: 48px;
  display: block;
  padding-left: 7px;
  padding-top: 5px;
}
.index-fixedkuang .index-fixeduil li a i {
  width: 32px;
  height: 32px;
  margin: 0px auto;
  display: inline-block;
  background-position: 0rem -17.1rem;
  background-size: 260px;
}
.index-fixedkuang .index-fixeduil li a .index-fhdb {
  background-position: 0rem -20.3rem;
}
.index-fixedkuang .index-fixeduil li:first-child {
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 8px;
}
.index-fixedkuang .index-fixeduil li:last-child {
  border-bottom-left-radius: 8px;
}
.index-Yhqobx {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #fff;
}
.index-Yhqobx .swiper-container li {
  height: 100px;
}
.index-Yhqobx .swiper-container li .yhuqli {
  width: 92%;
  margin: 8px auto;
  background: #F35047;
  border: 1px solid #65cdce;
}
.index-Yhqobx .swiper-container li .yhuqli .contexs {
  width: 100%;
  position: relative;
  overflow: hidden;
  background: #fff;
  padding: 1px 2px;
}
.index-Yhqobx .swiper-container li .yhuqli .contexs .yeis {
  float: left;
  color: #65cdce;
  width: 100%;
}
.index-Yhqobx .swiper-container li .yhuqli .contexs .yeis i {
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
  padding-top: 5px;
  padding-right: 2px;
}
.index-Yhqobx .swiper-container li .yhuqli .contexs .yeis em {
  font-size: 22px;
  display: inline-block;
}
.index-Yhqobx .swiper-container li .yhuqli .contexs .yetext {
  float: left;
}
.index-Yhqobx .swiper-container li .yhuqli .contexs .yetext span {
  display: block;
  font-size: 12px;
  color: #444;
}
.index-Yhqobx .swiper-container li .yhuqli .conbot {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 4px 2px;
  font-size: 11px;
  background-image: -webkit-gradient(linear, 0 0, 0 bottom, from(#56c9cc), to(#6acdca));
}
.index-Yhqobx .swiper-container li .yhuqli .conbot .msc {
  color: #fff;
  vertical-align: middle;
}
.gonggao {
  width: 100%;
  position: relative;
  padding: 2px 10px;
  background: #fdffc9 url("http://decerp.cc/images/laba.png") no-repeat;
  background-size: 20px;
  background-position: 0.5rem 0.55rem;
  padding-left: 35px;
}
.gonggao marquee {
  padding-top: 3px;
  color: #fe700d;
}
.win34 {
  width: 40.7% !important;
}
.posbox .modal-dialog {
  width: 660px;
}
.posbox .yanshiulbox {
  width: 100%;
  position: relative;
  height: 330px;
  margin-left: 1px;
  overflow-y: auto;
  padding-top: 15px;
}
.xzmrtub .modal-dialog {
  width: 660px;
}
.xzmrtub .titilep {
  font-size: 17px;
  padding: 5px 0;
  font-weight: bold;
}
.xzmrtub .zdybjuise {
  width: 100%;
  position: relative;
  height: 345px;
  margin-left: 1px;
  overflow-y: auto;
}
.xzmrtub .zdybjuise li {
  margin-top: 10px;
  margin-left: 9px;
  margin-right: 9px;
  width: 60px;
  height: 60px;
  float: left;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.xzmrtub .zdybjuise li img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.xzmrtub .zdybjuise li i {
  width: 22px;
  height: 22px;
  background: #ff5400;
  position: absolute;
  right: -4px;
  overflow: hidden;
  top: -6px;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 1px 3px 1px #ffcfb9;
  -webkit-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;
}
.xzmrtub .zdybjuise li i:before {
  width: 6px;
  height: 2px;
  background: #fff;
  content: '';
  position: absolute;
  left: 3px;
  top: 13px;
  -webkit-transform: rotate(45deg) translateX(-25px);
  -ms-transform: rotate(45deg) translateX(-25px);
  -moz-transform: rotate(45deg) translateX(-25px);
  transform: rotate(45deg) translateX(-25px);
  -webkit-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.xzmrtub .zdybjuise li i:after {
  width: 14px;
  height: 2px;
  background: #fff;
  content: '';
  position: absolute;
  left: 6px;
  top: 11px;
  -webkit-transform: rotate(-45deg) translateX(-25px);
  -ms-transform: rotate(-45deg) translateX(-25px);
  -moz-transform: rotate(-45deg) translateX(-25px);
  transform: rotate(-45deg) translateX(-25px);
  -webkit-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.xzmrtub .zdybjuise li.active i {
  opacity: 1;
}
.xzmrtub .zdybjuise li.active i:before {
  -webkit-transform: rotate(45deg) translateX(0px);
  -ms-transform: rotate(45deg) translateX(0px);
  -moz-transform: rotate(45deg) translateX(0px);
  transform: rotate(45deg) translateX(0px);
}
.xzmrtub .zdybjuise li.active i:after {
  -webkit-transform: rotate(-45deg) translatex(0px);
  -ms-transform: rotate(-45deg) translatex(0px);
  -moz-transform: rotate(-45deg) translatex(0px);
  transform: rotate(-45deg) translatex(0px);
}
/* Let's get this party started */
.mobileboox::-webkit-scrollbar,
.mobile-box::-webkit-scrollbar {
  width: 3px;
}
/* Track */
.mobileboox::-webkit-scrollbar-track,
.mobile-box::-webkit-scrollbar-track {
  background: #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* Handle */
.mobileboox::-webkit-scrollbar-thumb,
.mobile-box::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(176, 176, 176, 0.7);
}
.mobileboox::-webkit-scrollbar-thumb:window-inactive,
.mobile-box::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(215, 215, 215, 0.5);
}
