.padtop80 {
  padding-top: 80px;
}
.maxbox {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.bortop1 {
  border-top: 1px solid #bcbcbc;
}
.borbot1 {
  border-bottom: 1px solid #dcdcdc;
}
.border1 {
  border: 1px solid #BCBCBC;
}
.bornone {
  border: none;
}
.donghua,
.styerigbox .SytemtabUI ul li a,
.styerigbox .SytemtabUI ul li a i,
.styerigbox .SytemtabUI ul li a span,
.styerigbox .table tbody .minbtn i {
  -webkit-transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
}
textarea:focus,
input:focus {
  border-color: #66afe9 !important;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.clearfix {
  *zoom: 1;
}
.clearfix:after {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  visibility: hidden;
  content: ".";
}
.bule {
  background: #5a8edb;
}
.bule2 {
  background: #7da3db;
}
.Cshbtn {
  width: 98%;
  position: relative;
  display: block;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
}
.win30 {
  width: 30% !important;
}
.SysremDpxgxx .modderlis {
  height: 84px;
}
.SysremDpxgss .modderlis {
  height: 340px;
}
.SysremDpxgss textarea {
  width: 68%;
  display: inline-block;
  height: 82px;
  border-radius: 3px;
  border: 1px solid #C7C7C7;
  outline: none;
  padding: 5px 12px;
  resize: none;
  vertical-align: -64px;
}
.SysremDpadd .modderlis {
  height: 300px;
}
.SysremDpadd textarea {
  width: 68%;
  display: inline-block;
  height: 82px;
  border-radius: 3px;
  border: 1px solid #C7C7C7;
  outline: none;
  padding: 5px 12px;
  resize: none;
  vertical-align: -64px;
}
.SysremDpygadd .modderlis {
  height: 320px;
}
.styerigbox .member_box {
  padding: 0 2em;
  margin-top: 0;
}
.styerigbox .SytemtabUI {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid #DCDCDC;
  padding-bottom: 6px;
}
.styerigbox .SytemtabUI ul {
  float: left;
  display: block;
}
.styerigbox .SytemtabUI ul li {
  display: inline-block;
  margin-right: 15px;
}
.styerigbox .SytemtabUI ul li:last-child {
  margin-right: 0;
}
.styerigbox .SytemtabUI ul li a {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 6px  0;
  padding-right: 16px;
  font-size: 15px;
  text-decoration: none;
}
.styerigbox .SytemtabUI ul li a i {
  display: block;
  float: left;
  margin-right: 0px;
  margin-top: 5px;
  font-size: 12px;
  -webkit-transform: translateX(-10px);
  -ms-transform: translateX(-10px);
  -moz-transform: translateX(-10px);
  transform: translateX(-10px);
  opacity: 0;
}
.styerigbox .SytemtabUI ul li a span {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
  display: inline-block;
}
.styerigbox .SytemtabUI ul li a:hover {
  color: #19b394;
}
.styerigbox .SytemtabUI ul li a:hover span {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  -moz-transform: translateX(12px);
  transform: translateX(12px);
}
.styerigbox .SytemtabUI ul li a:hover i {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}
.styerigbox .SytemtabUI ul li.active a {
  color: #19b394;
}
.styerigbox .SytemtabUI ul li.active span {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  -moz-transform: translateX(12px);
  transform: translateX(12px);
}
.styerigbox .SytemtabUI ul li.active i {
  -webkit-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
  opacity: 1;
}
.styerigbox .mem_top {
  margin: 0;
  *zoom: 1;
}
.styerigbox .mem_top .inlk {
  padding: 10px 0px 10px 0px;
  display: inline-block;
}
.styerigbox .mem_top .inlk li {
  margin-right: 8px;
}
.styerigbox .table {
  margin-top: -5px;
}
.styerigbox .table thead tr {
  background: #f7f8fa;
}
.styerigbox .table tbody .minbtn i {
  background: #66bd6e;
  display: inline-block;
  padding: 4px 6px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  border-radius: 4px;
}
.styerigbox .table tbody .minbtn i:hover {
  background: #19B394;
}
.styerigbox .makstbox .mod:last-child {
  margin-bottom: 0px;
}
.gjsearch {
  float: right;
  margin-right: 10px;
  position: relative;
}
.gjsearch a {
  display: inline-block !important;
  background: #94d7d0;
  font-size: 13px!important;
  color: #007569;
  padding: 6px 15px!important;
  border-radius: 3px;
}
.gjsearch .sideseach {
  width: 300px;
  min-height: 270px;
  background: #fff;
  border: 1px solid #dee0e0;
  box-shadow: 0 1px 3px 1px #999;
  position: absolute;
  right: 0;
  z-index: 99999;
  padding: 15px;
  display: none;
}
.gjsearch .sideseach ul {
  width: 100% !important;
  position: relative;
  overflow: hidden;
  display: none;
}
.gjsearch .sideseach ul li {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: block;
  margin-bottom: 10px;
}
.gjsearch .sideseach ul li span {
  display: inline-block;
  margin-right: 8px;
}
.gjsearch .sideseach ul li input {
  width: 76%;
  border: 1px solid #ccc;
  height: 30px;
  line-height: 30px;
  padding: 0 7px;
  border-radius: 4px;
}
.gjsearch .sideseach ul li select {
  width: 74% !important;
  height: 30px;
  line-height: 30px;
  padding: 0 7px;
  border-radius: 4px;
  font-size: 13px;
}
.gjsearch .sesowtre {
  background: #e4e4e4;
  color: #000;
}
.gjsearch .sesobtn {
  background: #ff6666;
  color: #fff;
}
.gjsearch .sesobtn:hover {
  color: #fff !important;
  background: #e14f4f;
}
.tikxm {
  display: inline-block;
  cursor: pointer;
  color: #888;
  font-size: 15px;
  vertical-align: 0px;
}
.arrow:after {
  border-right-color: #ffefe3 !important;
}
.bornone {
  border-bottom: none !important;
  padding: 10px 0 10px 0!important;
}
.bornone span:first-child {
  margin-top: 5px;
}
.popover {
  max-width: 360px !important;
  text-align: left !important;
  line-height: 1.782857143 !important;
}
.maxtext {
  width: 355px !important;
}
.bg-red {
  background: #ff7a24 !important;
}
.bg-red:hover {
  background: #f17423 !important;
}
.kskmm {
  display: inline-block;
  margin-left: 10px;
  border: 1px solid #19b394;
  color: #19b394 !important;
  margin-top: 3px !important;
  font-size: 12px;
  padding: 4px 12px;
  cursor: pointer;
}
.maxcdnkkbtn {
  margin-left: 0 !important;
}
.syWxbd .titlesucs {
  padding: 20px 25px;
  font-size: 15px;
}
.syWxbd .Wxbdtext {
  width: 100%;
  position: relative;
  overflow: hidden;
  border: 1px solid #eaeced;
  margin-top: 25px;
  padding: 20px 25px;
}
.masbo {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
}
.masbo span {
  font-size: 15px;
  display: inline-block;
  vertical-align: -3px;
}
.lkkkl {
  display: inline-block;
  width: 38px;
  height: 38px;
  background: #afe8dd;
  border-radius: 50%;
  margin-right: 15px;
}
.lkkkl em {
  display: block;
  width: 28px;
  height: 28px;
  margin: 0 auto;
  background: #65c26f;
  color: #fff;
  border-radius: 50%;
  margin-top: 5px;
  text-align: center;
  line-height: 28px;
  font-size: 17px;
}
.lkkab {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 30px;
}
.lkkab input {
  display: inline-block;
  margin-left: 50px;
  width: 140px;
  height: 30px;
  padding: 0 5px;
  line-height: 30px;
  margin-right: 25px;
}
.lkkab a {
  display: inline-block;
  background: #27ae89;
  margin-left: 20px;
  color: #fff;
  padding: 7px 23px;
  border-radius: 4px;
}
.lkkab a:extend {
  -webkit-transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
}
.lkkab a:hover {
  background: #0F8C73;
  text-decoration: none;
}
.lkkab a.qxbd {
  border: 1px solid #19B394 ;
  color: #19B394 !important;
  background: #fff;
  margin-left: 25px;
}
.lkkab a.qxbd:hover {
  background: #17BA99;
  color: #fff !important;
}
.paxostext {
  margin: 15px 0;
  padding: 13px 15px;
  background: #fee3d0;
  border-radius: 5px;
}
.Sjbaodanon {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 5px 15px;
}
.Sjbaodanon a {
  float: left;
  display: block;
  width: 19%;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  text-decoration: none;
  font-size: 16px;
}
.Sjbaodanon a img {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  -webkit-transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
}
.Sjbaodanon a:hover img {
  -webkit-transform: translateY(-5px) scale(1.1);
  -ms-transform: translateY(-5px) scale(1.1);
  -moz-transform: translateY(-5px) scale(1.1);
  transform: translateY(-5px) scale(1.1);
}
.systemsjdc {
  padding: 25px 50px;
}
.systemsjdc .modal-dialog {
  width: 420px;
}
.systemsjdc .systssjyz {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.systemsjdc .systssjyz li {
  width: 100%;
  margin-bottom: 20px;
}
.systemsjdc .systssjyz li span {
  display: inline-block;
  margin-right: 10px;
}
.systemsjdc .systssjyz li input {
  width: 75%;
  display: inline-block;
  border: 1px solid #ccc;
  padding-left: 6px;
  height: 32px;
  line-height: 32px;
  border-radius: 4px;
}
.systemsjdc .systssjyz li input.smalltext {
  width: 43%;
  margin-right: 5px;
}
.systemsjdc .systssjyz li .smllbtn {
  border: 1px solid #0EA849;
  color: #0EA849;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 12px;
  text-decoration: none;
}
.system_Sjcshubox {
  width: 100%;
  position: relative;
  margin-top: 35px;
}
.system_Sjcshubox .newtitle {
  width: 100%;
  padding: 18px 0;
  font-size: 18px;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 30px;
}
.system_Sjcshubox .system_Sjcsrnui {
  width: 100%;
  position: relative;
  padding-bottom: 18px;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 30px;
}
.system_Sjcshubox .system_Sjcsrnui .ritianshu .uikslx {
  display: block;
  position: relative;
  margin-bottom: 20px;
  font-size: 15px;
  color: #000;
}
.system_Sjcshubox .system_Sjcsrnui .ritianshu .uikslx i {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #dddddd;
  margin-right: 5px;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  margin-right: 15px;
}
.system_Sjcshubox .system_Sjcsrnui .ritianshu .uikslx i:before {
  width: 9px;
  height: 0px;
  content: '';
  position: absolute;
  left: 2px;
  top: 2px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.system_Sjcshubox .system_Sjcsrnui .ritianshu .uikslx.on i:before {
  height: 9px;
  background: #ff8c40;
}
.system_Sjcshubox .msbooxbtn {
  background: #19b394;
  color: #fff;
  padding: 8px 18px;
  border-radius: 5px;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
}
.system_Sjcshubox .msbooxbtn:hover {
  background: #10967b;
}
.systemPaybox {
  width: 100%;
  position: relative;
  border: 1px solid #eaeced;
  margin-top: 30px;
}
.systemPaybox .newkaitong {
  text-align: center;
  padding: 20px;
}
.systemPaybox .newkaitong h3 {
  text-align: center;
  color: #000;
  font-size: 24px;
  padding: 25px 0;
}
.systemPaybox .newkaitong p {
  text-align: center;
  font-size: 17px;
  line-height: 36px;
}
.systemPaybox .newkaitong .msbtn {
  background: #ff834d;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 24px;
  margin-top: 20px;
  text-decoration: none;
  -webkit-transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  margin-bottom: 30px;
}
.systemPaybox .newkaitong .msbtn:hover {
  background: #ed7642;
}
.systemPaybox .newkaitong .bgbule {
  text-decoration: none;
  color: #1fbaf4;
  -webkit-transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
}
.systemPaybox .newkaitong .bgbule:hover {
  color: #E15656;
}
.systemPaybox .newkaitong .msmptl {
  padding: 60px 0;
}
.systemPaybox .newkaitong .lvesbtn {
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 24px;
  margin-top: 20px;
  text-decoration: none;
  -webkit-transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  margin-bottom: 30px;
  background: #27ae89;
  margin-right: 30px;
}
.systemPaybox .newkaitong .lvesbtngo {
  color: #27ae89;
  border-radius: 5px;
  display: inline-block;
  padding: 10px 24px;
  margin-top: 20px;
  text-decoration: none;
  -webkit-transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  margin-bottom: 30px;
  border: 1px solid #27ae89;
}
.systemPaybox .buzhoutietle {
  width: 100%;
  padding: 15px 20px;
  background: #f2f4f4;
  overflow: hidden;
}
.systemPaybox .buzhoutietle em {
  color: #ff834d;
  display: inline-block;
  font-size: 25px;
  vertical-align: 0;
  padding-right: 15px;
}
.systemPaybox .buzhoutietle span {
  color: #383838;
  font-size: 17px;
  display: inline-block;
  vertical-align: 0;
  padding-right: 15px;
}
.systemPaybox .buzhoutietle i {
  color: #999999;
  font-size: 14px;
  display: inline-block;
  vertical-align: 0;
}
.systemPaybox .systmuulls {
  width: 92%;
  padding: 10px;
  margin: 60px auto 30px auto;
  overflow: hidden;
  border-bottom: 1px solid #eaeced;
}
.systemPaybox .systmuulls li {
  width: 40%;
  float: left;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 5px 0;
}
.systemPaybox .systmuulls li span {
  font-size: 17px;
  display: inline-block;
  margin-right: 15px;
  vertical-align: -2px;
}
.systemPaybox .systmuulls li .ritianshu .stecs i {
  vertical-align: -3px;
}
.systemPaybox .systmuulls li .ritianshu .stecs span {
  font-size: 15px;
}
.systemPaybox .systmuulls li input {
  width: 211px;
  height: 30px;
  line-height: 34px;
  font-size: 13px;
  padding-left: 5px;
  background: #fff;
  display: inline-block;
  border: 1px solid #cccccc;
  border-radius: 4px;
  outline: none;
  vertical-align: 1px;
}
.systemPaybox .systmuulls li:first-child {
  width: 100%;
}
.systemPaybox .paybuzhouscbz {
  width: 92%;
  padding: 10px;
  margin: 60px auto 30px auto;
  border-bottom: 1px solid #eaeced;
  overflow: hidden;
}
.systemPaybox .paybuzhouscbz li {
  width: 220px;
  float: left;
  display: block;
  margin-bottom: 30px;
  text-align: center;
}
.systemPaybox .paybuzhouscbz li .mitxtt {
  width: 140px;
  height: 140px ;
  border: 1px solid #eaeced;
  padding: 8px;
  margin: 0 auto;
}
.systemPaybox .paybuzhouscbz li .mitxtt .onigm {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.systemPaybox .paybuzhouscbz li .mitxtt .onigm img {
  width: 100%;
  height: 100%;
}
.systemPaybox .paybuzhouscbz li .mitxtt .onigm .titles {
  position: absolute;
  width: 100%;
  height: 30px;
  left: 0;
  bottom: 0;
}
.systemPaybox .paybuzhouscbz li .mitxtt .onigm .titles a {
  display: inline-block;
  width: 48%;
  color: #fff;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  -webkit-transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
}
.systemPaybox .paybuzhouscbz li .mitxtt .onigm .titles a:hover {
  color: #E25453;
}
.systemPaybox .loingmbtmn {
  background: #ff834d;
  color: #fff;
  margin-bottom: 60px;
  display: inline-block;
  margin-left: 4%;
  padding: 8px 24px;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  margin-right: 20px;
}
.systemPaybox .loingmbtmn:hover {
  background: #e67544;
}
.systemPaybox .small {
  background: #aac0cc;
  color: #fff;
  padding: 8px 24px;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  -webkit-transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
}
.systemPaybox .small:hover {
  background: #94b0c0;
}
.systemPaybuzhou {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.systemPaybuzhou .payzoubu {
  width: 70%;
  margin: 50px auto;
  overflow: hidden;
}
.systemPaybuzhou .payzoubu li {
  float: left;
  display: inline-block;
  position: relative;
  width: 33%;
  z-index: 1;
  padding: 3px;
}
.systemPaybuzhou .payzoubu li span {
  display: block;
  font-size: 17px;
  text-align: center;
  color: #c2c2c1;
  font-weight: bold;
}
.systemPaybuzhou .payzoubu li i {
  width: 25px;
  height: 25px;
  display: block;
  background: #e1e1e1;
  border-radius: 50%;
  margin: 8px auto;
  box-shadow: 1px 1px 1px #888 inset;
  position: relative;
  overflow: hidden;
}
.systemPaybuzhou .payzoubu li i em {
  width: 15px;
  height: 15px;
  display: block;
  margin: 0px auto;
  background: #fff;
  border-radius: 50%;
  margin-top: 5px;
  border: 1px solid #eee;
}
.systemPaybuzhou .payzoubu li.active span {
  color: #fc732a;
}
.systemPaybuzhou .payzoubu li.active em {
  background: #fc732a;
  border: 1px solid #fc732a;
}
.systemPaybuzhou .payzoubu li.sidle {
  width: 47%;
  background: #e1e1e1;
  height: 10px;
  position: absolute;
  left: 26%;
  top: 54%;
  z-index: 0;
}
.systemPaybuzhou .payzoubu li.sidle:before {
  content: '';
  width: 0%;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  background: #fc732a;
}
.systemPaybuzhou .payzoubu li.sidle.nn2:before {
  width: 50%;
}
.systemPaybuzhou .payzoubu li.sidle.nn3:before {
  width: 100%;
}
.a-upload {
  padding: 4px 10px;
  line-height: 20px;
  position: relative;
  cursor: pointer;
  color: #888;
  border-radius: 4px;
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-top: 15px;
}
.a-upload i {
  display: inline-block;
  font-size: 20px;
  vertical-align: -3px;
  margin-right: 10px;
}
.a-upload input {
  position: absolute;
  font-size: 100px;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}
.a-upload:hover {
  color: #444;
  background: #eee;
  border-color: #ccc;
  text-decoration: none;
}
.systempaytitle .modal-dialog {
  width: 620px;
}
.system_Dyingbox {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 30px;
}
.system_Dyingbox .systemdyuiz {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 5px 15px;
}
.system_Dyingbox .systemdyuiz .Print-Css {
  width: 300px;
  background-repeat: repeat-y;
  background-image: url('http://decerp.cc/images/SmallTicketCenter.png');
  background-position: center;
  min-height: 180px;
  display: inline-block;
  float: left;
}
.system_Dyingbox .systemdyuiz .Print-Bg-Top {
  width: 300px;
  min-height: 140px;
  background-image: url('http://decerp.cc/images/SmallTicketTop.png');
  background-position: center top;
  background-repeat: no-repeat;
  padding: 50px 20px;
  padding-bottom: 0px;
}
.system_Dyingbox .systemdyuiz .ShowContent {
  width: 58mm;
  display: block;
  margin: 0 auto;
}
.system_Dyingbox .systemdyuiz .ShowContent div {
  font-size: 12px;
  margin: 3px 0px;
  line-height: 18px;
  width: 100%;
}
.system_Dyingbox .systemdyuiz .ShowContent .title {
  font-size: 13pt;
}
.system_Dyingbox .systemdyuiz .ShowContent table {
  text-align: center;
  width: 100%;
}
.system_Dyingbox .systemdyuiz .ShowContent table td,
.system_Dyingbox .systemdyuiz .ShowContent table th {
  text-align: center;
}
.system_Dyingbox .systemdyuiz .ShowContent table th {
  font-weight: bold;
  padding-bottom: 5px;
}
.system_Dyingbox .systemdyuiz .Print-Bg {
  width: 300px;
  height: 40px;
  background-image: url('http://decerp.cc/images/SmallTicketBottom.png');
  background-position: center bottom;
  background-repeat: no-repeat;
}
.system_Dyingbox .systemdyuiz .printrigth {
  float: right;
  padding: 10px;
  width: 74%;
  margin-left: 20px;
}
.system_Dyingbox .systemdyuiz .printrigth .printui {
  width: 100%;
  position: relative;
  padding: 25px 0px;
  border-bottom: 1px solid #cfcfcf;
}
.system_Dyingbox .systemdyuiz .printrigth .printui li {
  width: 100%;
  position: relative;
  clear: both;
  margin-bottom: 18px;
}
.system_Dyingbox .systemdyuiz .printrigth .printui li .milefts {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
}
.system_Dyingbox .systemdyuiz .printrigth .printui li .ritianshu .stecs i {
  vertical-align: middle;
}
.system_Dyingbox .systemdyuiz .printrigth .printui li .tikxm {
  color: #19b37e;
  font-size: 19px;
}
.system_Dyingbox .systemdyuiz .printrigth .printui li .ritianshu span {
  font-size: 14px;
}
.system_Dyingbox .systemdyuiz .printrigth .printui li select {
  width: 120px;
  margin-right: 10px;
}
.system_Dyingbox .systemdyuiz .printrigth .printui li .longxi {
  color: #666666;
}
.system_Dyingbox .systemdyuiz .printrigth .printui li .corred {
  color: #f70101;
}
.system_Dyingbox .systemdyuiz .printrigth .msanbottom {
  width: 100%;
  padding: 30px 0;
}
.system_Dyingbox .systemdyuiz .printrigth .msanbottom .lvstbtn {
  display: inline-block;
  border-radius: 5px;
  background: #19b394;
  color: #fff;
  padding: 9px 25px;
  font-size: 15px;
  margin-right: 20px;
  text-decoration: none;
  -webkit-transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
}
.system_Dyingbox .systemdyuiz .printrigth .msanbottom .lvstbtn:hover {
  background: #0EA849;
}
.system_Dyingbox .systemdyuiz .printrigth .msanbottom .lvstbtngo {
  display: inline-block;
  border-radius: 5px;
  background: #b2dfd6;
  color: #1a846f;
  padding: 9px 25px;
  font-size: 15px;
  margin-right: 20px;
  text-decoration: none;
  -webkit-transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
}
.system_Dyingbox .systemdyuiz .printrigth .msanbottom .lvstbtngo:hover {
  background: #8ee0d0;
}
.system_Dyingbox .systemdyuiz .printrigth .msanbottom .tikxm {
  color: #19b37e;
  font-size: 22px;
  vertical-align: -5px;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob {
  width: 100%;
  position: relative;
  overflow: hidden;
  border: 1px solid #eaeced;
  min-height: 400px;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orintabui {
  width: 100%;
  background: #eaeced;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orintabui li {
  display: inline-block;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orintabui li a {
  padding: 14px 30px;
  display: inline-block;
  font-size: 15px;
  position: relative;
  text-decoration: none;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orintabui li a:before {
  content: '';
  width: 0%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orintabui li.active a {
  background: #fff;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orintabui li.active a:before {
  content: '';
  width: 100%;
  height: 2px;
  background: #F05721;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orinreatle {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 400px;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orinreatle .mmoule {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 20px;
  display: none;
  height: 100%;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orinreatle .mmoule .milsaks {
  position: absolute;
  left: 50px;
  bottom: 20px;
  font-size: 15px;
  color: #999999;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orinreatle .mmoule .pritextarea {
  width: 100%;
  height: 220px;
  border: 1px solid #dcdcdc;
  resize: none;
  border-radius: 5px;
  padding: 20px;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orinreatle .orinlogo {
  padding: 60px;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orinreatle .orinlogo .prlpobox {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orinreatle .orinlogo .prlpobox .filelfle {
  width: 280px;
  float: left;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orinreatle .orinlogo .prlpobox .filelfle .fileimg {
  width: 280px;
  border: 1px solid #cfcfcf;
  padding: 10px;
  height: 120px;
  -webkit-transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orinreatle .orinlogo .prlpobox .filelfle img {
  width: 100%;
  height: 100%;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orinreatle .orinlogo .prlpobox .filelfle a {
  overflow: hidden;
  display: block;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  position: relative;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orinreatle .orinlogo .prlpobox .filelfle a span {
  display: block;
  padding: 15px 0;
  font-size: 18px;
  color: #fd8740;
  -webkit-transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orinreatle .orinlogo .prlpobox .filelfle a span:hover {
  color: #e77530;
  text-shadow: 0 2px 1px #d46826;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orinreatle .orinlogo .prlpobox .filelfle a:hover .fileimg {
  background: #e6e6e6;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orinreatle .orinlogo .prlpobox .filelfle a input {
  position: absolute;
  font-size: 200px;
  right: 0;
  top: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  cursor: pointer;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orinreatle .orinlogo .prlpobox .prloxrigr {
  margin-left: 30px;
  float: left;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orinreatle .orinlogo .prlpobox .prloxrigr .ritianshu {
  margin-top: 20px;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orinreatle .orinlogo .prlpobox .prloxrigr .ritianshu .stecs {
  padding-left: 10px;
  display: block;
  padding-bottom: 10px;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orinreatle .orinlogo .prlpobox.prerweima .filelfle {
  width: 200px;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orinreatle .orinlogo .prlpobox.prerweima .fileimg {
  width: 200px;
  border: 1px solid #cfcfcf;
  padding: 10px;
  height: 200px;
  -webkit-transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orinreatle .orinheader {
  padding: 40px;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orinreatle .oriheaderui {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orinreatle .oriheaderui li {
  float: left;
  margin-bottom: 15px;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orinreatle .oriheaderui li a {
  background: #fff;
  color: #36B6A9;
  display: block;
  border-radius: 5px;
  padding: 12px 0;
  margin-right: 25px;
  font-size: 15px;
  text-decoration: none;
  min-width: 120px;
  text-align: center;
  -webkit-transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  border: 1px solid #36B6A9;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orinreatle .oriheaderui li a:hover {
  background: #36B6A9;
  color: #fff;
}
.system_Dyingbox .systemdyuiz .printrigth .orintziymob .orinreatle .oriheaderui li.active a {
  background: #36B6A9;
  color: #fff;
}
.xzsfdiqubox {
  overflow: hidden;
}
.xzsfdiqubox .form-control {
  width: 28% !important;
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 8px;
}
.xzsfdiqubox .form-control:last-child {
  margin-right: 0;
}
@media only screen and (max-width: 1816px) {
  .styerigbox {
    width: 87%  !important;
  }
}
@media only screen and (max-width: 1679px) {
  .styerigbox {
    width: 85%  !important;
  }
  .styerigbox .stylius li .nlr {
    width: 80% !important;
  }
}
@media only screen and (max-width: 1480px) {
  .styerigbox {
    width: 83%  !important;
  }
}
@media only screen and (max-width: 1376px) {
  .styerigbox {
    width: 81%  !important;
    margin-left: 10px !important;
  }
  .styerigbox .suikslb .sytxxbox li .nn2 {
    width: 82% !important;
  }
  .stuilefbox {
    margin-left: 15px !important;
  }
}
@media only screen and (max-width: 1265px) {
  .styerigbox {
    width: 79%  !important;
  }
  .styerigbox .suikslb .sytxxbox li .nn2 {
    width: 78% !important;
  }
}
@media only screen and (max-width: 1226px) {
  .styerigbox {
    width: 79%  !important;
    margin-bottom: 20px !important;
  }
  .styerigbox .stylius li .nlr {
    width: 76% !important;
  }
}
@media only screen and (max-width: 1108px) {
  .styerigbox {
    width: 77%  !important;
  }
}
@media only screen and (max-width: 1068px) {
  .styerigbox .stylius li .nlr {
    width: 76% !important;
  }
  .styerigbox .suikslb .sytxxbox li .nn2 {
    width: 74% !important;
  }
  .syeumotix .nar {
    width: 70% !important;
  }
}
@media only screen and (max-width: 1829px) {
  .systemdyuiz .printrigth {
    width: 72% !important;
  }
}
@media only screen and (max-width: 1740px) {
  .systemdyuiz .printrigth {
    width: 70% !important;
  }
}
@media only screen and (max-width: 1679px) {
  .systemdyuiz .printrigth {
    width: 67% !important;
  }
}
@media only screen and (max-width: 1561px) {
  .systemdyuiz .printrigth {
    width: 64% !important;
  }
}
@media only screen and (max-width: 1480px) {
  .systemdyuiz .printrigth {
    width: 62% !important;
  }
  .systemdyuiz .printrigth .orintziymob .orintabui li a {
    font-size: 14px !important;
    padding: 12px 25px !important;
  }
  .systemdyuiz .printrigth .orinreatle .oriheaderui li a {
    min-width: 90px !important;
    padding: 8px 0 !important;
    font-size: 14px !important;
  }
}
@media only screen and (max-width: 1480px) {
  .systemdyuiz .printrigth {
    width: 58% !important;
  }
  .systemdyuiz .printrigth .orintziymob .orintabui li a {
    padding: 12px 20px !important;
  }
  .systemdyuiz .printrigth .orinreatle .oriheaderui li a {
    min-width: 80px !important;
  }
  .systemdyuiz .printrigth .orinreatle .orinheader {
    padding: 20px !important;
  }
  .systemdyuiz .printrigth .orinreatle .orinlogo {
    padding: 20px !important;
  }
  .systemdyuiz .printrigth .orinreatle .orinlogo .prlpobox .prloxrigr {
    margin-left: 0px !important;
  }
  .systemdyuiz .printrigth .orinlogo .prlpobox.prerweima .fileimg {
    width: 180px !important;
    height: 180px !important;
  }
}
@media only screen and (max-width: 1358px) {
  .systemdyuiz .printrigth {
    width: 60% !important;
    margin-left: 0 !important;
  }
}
@media only screen and (max-width: 1324px) {
  .systemdyuiz .printrigth {
    width: 60% !important;
    margin-left: 0 !important;
  }
  .systemdyuiz .printrigth .orintziymob .orintabui li a {
    padding: 12px 14px !important;
  }
}
@media only screen and (max-width: 1303px) {
  .systemdyuiz .printrigth {
    width: 59% !important;
    margin-left: 0 !important;
  }
  .systemdyuiz .printrigth .orintziymob .orintabui li a {
    padding: 12px 14px !important;
  }
}
@media only screen and (max-width: 1269px) {
  .systemdyuiz .printrigth {
    width: 61% !important;
    margin-left: 0 !important;
  }
  .systemdyuiz .printrigth .orintziymob .orintabui li a {
    padding: 12px 14px !important;
  }
  .systemdyuiz .printrigth .orinlogo .prlpobox.prerweima .fileimg {
    width: 150px !important;
    height: 150px !important;
  }
  .systemdyuiz .printrigth .prlpobox .filelfle a input {
    font-size: 130px !important;
  }
  .systemdyuiz .printrigth .orinlogo .prlpobox.prerweima .filelfle {
    width: 150px !important;
  }
  .systemdyuiz .Print-Bg-Top {
    width: 260px !important;
  }
  .systemdyuiz .Print-Css {
    width: 260px !important;
  }
  .systemdyuiz .Print-Bg {
    width: 260px !important;
  }
}
@media only screen and (max-width: 1213px) {
  .systemdyuiz .printrigth {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .systemdyuiz .printrigth .orintziymob .orintabui li a {
    padding: 12px 14px !important;
  }
  .systemdyuiz .printrigth .orinlogo .prlpobox.prerweima .fileimg {
    width: 150px !important;
    height: 150px !important;
  }
  .systemdyuiz .printrigth .prlpobox .filelfle a input {
    font-size: 130px !important;
  }
  .systemdyuiz .printrigth .orinlogo .prlpobox.prerweima .filelfle {
    width: 150px !important;
  }
  .systemdyuiz .orinreatle .mmoule .milsaks {
    left: 3% !important;
  }
  .systemdyuiz .Print-Css {
    width: 260px !important;
    margin-left: 30%;
  }
}
@media only screen and (max-width: 1039px) {
  .styerigbox {
    width: 77%  !important;
  }
  .styerigbox .stylius li .nlr {
    width: 70% !important;
  }
  .styerigbox .suikslb .sytxxbox li .nn2 {
    width: 66% !important;
  }
  .syeumotix .nar {
    width: 70% !important;
  }
}
.Quanxianbox .modal-dialog {
  width: 650px;
}
.Quanxianbox .moxuezebox {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 360px;
}
.Quanxianbox .moxuezebox li {
  width: 25%;
  margin-top: 30px;
  float: left;
  text-align: center;
  overflow: hidden;
}
.Quanxianbox .moxuezebox li a {
  text-decoration: none;
}
.Quanxianbox .moxuezebox li i {
  width: 82px;
  height: 82px;
  display: block;
  margin: 12px auto;
  background: url("http://decerp.cc/images/qxidocn.png") no-repeat;
  background-position: -21px -23.1px;
  -webkit-transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
}
/*.Quanxianbox .moxuezebox li .ic-spgl {
  background-position: -1.8rem -10.3rem;
}
.Quanxianbox .moxuezebox li .ic-kcgl {
  background-position: -1.8rem -18.5rem;
}
.Quanxianbox .moxuezebox li .ic-rczc {
  background-position: -1.8rem -26.8rem;
}
.Quanxianbox .moxuezebox li .ic-znfx {
  background-position: -1.8rem -35rem;
}
.Quanxianbox .moxuezebox li .ic-yxgj {
  background-position: -1.8rem -43.4rem;
}
.Quanxianbox .moxuezebox li .ic-xsdd {
  background-position: -10.4rem -1.9rem;
}
.Quanxianbox .moxuezebox li .ic-xtgl {
  background-position: -10.4rem -10.3rem;
}*/

/*修改北景定位问题*/
.Quanxianbox .moxuezebox li .ic-spgl {
  background-position: -21px -123.1px;
}
.Quanxianbox .moxuezebox li .ic-kcgl {
  background-position: -21px -222.1px;
}
.Quanxianbox .moxuezebox li .ic-rczc {
  background-position: -21px -321.1px;
}
.Quanxianbox .moxuezebox li .ic-znfx {
  background-position: -21px -421.1px;
}
.Quanxianbox .moxuezebox li .ic-yxgj {
  background-position: -21px -521.1px;
}
.Quanxianbox .moxuezebox li .ic-xsdd {
  background-position: -10.4rem -1.9rem;
}
.Quanxianbox .moxuezebox li .ic-xtgl {
  background-position: -126px -123px;
}
/*结束*/

.Quanxianbox .moxuezebox li a:hover i {
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  transform: translateY(-8px);
}
.Quanxianbox .moxuezebox li a:hover span {
  /*font-weight: bold;*/
}
.setquanxian .modal-dialog {
  width: 650px;
}
.setquanxian .setqxui {
  width: 100%;
  position: relative;
  overflow-y: auto;
  height: 360px;
  padding-right: 6px;
}
.setquanxian .setqxui li {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 15px 0;
  border-bottom: 1px solid #E0E0E0;
  color: #666;
}
.setquanxian .setqxui li .onejibox {
  width: 100%;
  padding-left: 15px;
  overflow: hidden;
}
.setquanxian .setqxui li .onejibox .luckte {
  width: 33%;
  float: left;
  padding-top: 10px;
  font-size: 13.5px;
}
.setquanxian .setqxui li .erjibox {
  width: 100%;
  padding-left: 35px;
  overflow: hidden;
}
.setquanxian .setqxui li .erjibox .luckte {
  width: 33%;
  float: left;
  padding-top: 10px;
  font-size: 13px;
}
.regular-checkbox {
  display: none;
}
.regular-checkbox + label {
  background-color: #fff;
  border: 1px solid #169c81;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 7px;
  display: inline-block;
  position: relative;
  vertical-align: -7px;
  margin-right: 3px;
  cursor: pointer;
}
.regular-checkbox:checked + label {
  background-color: #fff;
  border: 1px solid #169c81;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
  color: #99a1a7;
}
.regular-checkbox:checked + label:after {
  content: '\2714';
  font-size: 11px;
  position: absolute;
  top: 0px;
  left: 1px;
  color: #169c81;
}
.fendianxq .modal-dialog {
  width: 480px;
}
.fendianxq textarea {
  width: 100%;
  height: 180px;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  resize: none;
  color: #666;
  font-size: 13px;
  text-indent: 2rem;
  padding: 5px 15px;
  overflow-y: auto;
}
input[disabled] {
  background: #e3eff5;
  color: #333;
}
.memeber_czjl .table .tecenip {
  text-align: center !important;
}
.memeber_czjl .minlie30 tbody td {
  vertical-align: middle;
}
.xzgwtcms .xzmsboxs {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.xzgwtcms .xzmsboxs div {
  width: 33%;
  float: left;
  border-left: 1px solid #E0E0E0;
  padding: 5px 10px;
}
.xzgwtcms .xzmsboxs div h4 {
  padding-bottom: 5px;
}
.xzgwtcms .xzmsboxs div img {
  width: 100%;
}
.xzgwtcms .xzmsboxs div p {
  font-size: 13px;
  padding-top: 5px;
  color: #444444;
}
.xzgwtcms .xzmsboxs div:first-child {
  margin-left: -1px;
}
.xuanzround {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin: 5px auto;
  display: block;
  border: 1px solid #E0E0E0;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.xuanzround em {
  color: #fff;
  -webkit-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.xuanzround.open {
  background: #ff6666;
  border: 1px solid #FF6666;
}
.xuanzround.open em {
  color: #fff;
}
.msleft {
  float: left;
  padding-top: 5px;
  color: #666;
}
.fanlist {
  width: 100%;
  background: #f3f3f3;
  padding: 5px 10px;
  margin-top: 20px;
}
.fanlist a {
  display: inline-block;
  background: #ff6666;
  color: #fff;
  padding: 4px 15px;
  border-radius: 5px;
  font-size: 20px;
  text-decoration: none;
}
.fanlist a:hover {
  background: #eb5757;
}
.fanlist span {
  color: #27ae89;
  font-weight: bold;
  margin-left: 5px;
}
.gwaddbox {
  width: 100%;
  position: relative;
  border: 1px solid #E0E0E0;
  padding: 15px;
  margin-top: 20px;
}
.gwaddbox .mstiee {
  font-weight: bold;
  line-height: 32px;
}
.gwaddbox .gwadtop {
  overflow: hidden;
}
.msfire {
  border: 1px solid #31c47b;
  overflow: hidden;
}
.msfire a {
  display: inline-block;
  padding: 3px 10px;
  color: #31c47b;
  text-decoration: none;
}
.msfire a.active {
  background: #31c47b;
  color: #fff;
}
.gwsheach {
  padding: 18px 0 0 0;
}
.gwsheach span {
  font-size: 15px;
}
.gwsheach input {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  width: 180px;
  padding: 0 8px;
}
.gwadconn {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-top: 15px;
}
.gwadconn .maslef {
  width: 50%;
  float: left;
  padding: 8px 15px;
}
.gwadconn .cosbos {
  width: 100%;
  background: #f3f3f3;
  border: 1px solid #ccc;
  padding: 10px 10px ;
  border-radius: 8px;
  margin-bottom: 10px;
  position: relative;
  color: #383838;
}
.gwadconn .cosbos h5 {
  padding-bottom: 5px;
  font-size: 13px;
}
.gwadconn .cosbos .coslist {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.gwadconn .cosbos .coslist .lolef {
  width: 50%;
  float: left;
  font-size: 13px;
  padding: 5px 6px;
}
.gwadconn .cosbos .coslist .lolef i {
  display: inline-block;
  text-align: left;
  min-width: 44px;
}
.gwadconn .cosbos .coslist .lolef em {
  display: inline-block;
  margin-left: 5px;
  margin-right: 10px;
}
.gwadconn .cosbos .coslist .lorigh {
  width: 50%;
  float: right;
  text-align: left;
  font-size: 13px;
}
.gwadconn .cosbos .coslist .lorigh i {
  width: 40px;
  display: inline-block;
}
.gwadconn .cosbos .cosmax {
  width: 100%;
  overflow: hidden;
  padding: 5px  6px;
  font-size: 13px;
}
.gwadconn .cosbos .cosmax span {
  width: 80%;
  float: left;
}
.gwadconn .cosbos .colsoebtn {
  position: absolute;
  right: 10px;
  color: #bababa;
  top: 2px;
  font-size: 18px;
  text-decoration: none;
}
.gwadconn .cosbos .colsoebtn:hover {
  color: #333;
}
.listbox {
  width: 100%;
}
.listbox .listuit {
  position: relative;
  margin-bottom: 18px;
  color: #666;
}
.listbox .listuit span {
  display: inline-block;
  width: 80px;
  font-size: 15px;
  float: left;
  line-height: 32px;
}
.listbox .listuit .inpubox {
  display: inline-block;
  width: 120px;
  position: relative;
}
.listbox .listuit .inpubox input {
  width: 120px;
  height: 32px;
  line-height: 32px;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  padding: 0 10px;
}
#configComm-0 .listbox .listuit .inpubox input,.modal-footer .inpubox input{
  width: 120px;
  height: 30px;
  outline:none;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  line-height: 30px;
  padding: 0 10px;
  -webkit-transition: all 0.25s ;
  -ms-transition: all 0.25s ;
  -moz-transition: all 0.25s ;
  transition: all 0.25s ;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
}

#configComm-0 .listbox .listuit .inpubox input:focus{
  border:0;
}
.modal-footer .inputitle{
    display: inline-block;
    width: 80px;
    font-size: 15px;
    float: left;
    line-height: 30px;
}
.listbox .listuit .inpubox i {
  position: absolute;
  top: 5px;
  right: 10px;
}
.listbox .listuit .lasbtn {
  float: left;
  width: 85%;
  margin-top: 2px;
}
.listbox .listuit .lasbtn a {
  padding: 5px 20px;
  font-size: 13px;
  margin-bottom: 8px;
  margin-left: 5px;
}
.listbox .listuit .lasbtn a:hover {
  background:#27ab87;
}
.listbox .listuit .lasbtn .regbtn{
  background:#27ae89;
}
.gwadconn .listbox .listuit .lasbtn .active {
  background:#cccccc;
}
.listbox .listuit .nn2 {
  font-size: 22px;
  display: inline-block;
  margin-left: 5px;
  vertical-align: middle;
  cursor: pointer;
  color: #b3b3b3;
}
.listbox .listuit .nn1 {
  display: none;
}
.listbox .zfbtn {
  width: 32px;
  height: 32px;
  line-height: 36px;
  margin-left: 6px;
  vertical-align: -2px;
}
.regbtn {
  background: #ff6666;
  color: #fff !important;
  display: inline-block;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
}
.regbtn i {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}
.regbtn:hover {
  text-decoration: none;
  background: #dd4b4b;
}
.futctanbox {
  padding: 10px 10px;
}
.futctanbox .modal-dialog {
  width: 680px;
}
.futctanbox .funsuui {
  width: 100%;
  padding: 5px 25px ;
  position: relative;
}
.futctanbox .funsuui .funsilist {
  width: 100%;
  position: relative;
  clear: both;
  margin-bottom: 15px;
}
.futctanbox .funsuui .funsilist .onfle,
.futctanbox .funsuui .funsilist .onfri {
  float: left;
  width: 50%;
}
.futctanbox .funsuui .funsilist .onfle span,
.futctanbox .funsuui .funsilist .onfri span {
  display: inline-block;
  line-height: 30px;
}
.futctanbox .funsuui .funsilist .onfle input,
.futctanbox .funsuui .funsilist .onfri input,
.futctanbox .funsuui .funsilist .onfle .setcobtn,
.futctanbox .funsuui .funsilist .onfri .setcobtn {
  width: 180px;
  height: 30px;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  line-height: 30px;
  padding: 0 10px;
  -webkit-transition: all 0.25s ;
  -ms-transition: all 0.25s ;
  -moz-transition: all 0.25s ;
  transition: all 0.25s ;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #666;
}
.futctanbox .funsuui .funsilist .onfle input:focus,
.futctanbox .funsuui .funsilist .onfri input:focus {
  box-shadow: none;
}
.futctanbox .funsuui .funsilist .onfle .setcobtn.slow,
.futctanbox .funsuui .funsilist .onfri .setcobtn.slow {
  color: #333 ;
}
.futctanbox .funsuui .funsilist .onfle input[disabled],
.futctanbox .funsuui .funsilist .onfri input[disabled] {
  background: #fff;
}
.futctanbox .funsuui .funsilist .onfle:nth-child(2),
.futctanbox .funsuui .funsilist .onfri:nth-child(2) {
  text-align: center;
  display: inline-block;
}
.futctanbox .minhei22 {
  overflow-y: auto;
  height: 330px;
}
.msolsbox {
  width: 630px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 15px;
  background: #fff;
  position: fixed;
  z-index: 999999;
  box-shadow: 0 1px 3px 1px #E0E0E0;
  display: block;
  margin-top: 33px;
  margin-left: 74px;
  display: none;
}
.msolsbox .minhei22 {
  overflow-y: auto;
  height: 280px;
  padding-right: 8px;
}
.msolsbox .mosolist {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding-top: 10px;
  border-bottom: 1px solid #E0E0E0;
}
.msolsbox .mosolist span {
  width: 100px;
  display: inline-block;
  text-align: right;
  font-size: 14px;
  font-weight: bold;
  padding-right: 5px;
  float: left;
  margin-right: 5px;
}
.msolsbox .mosolist .mosolui {
  display: inline-block;
  width: 482px;
  float: left;
  overflow: hidden;
}
.msolsbox .mosolist .mosolui li {
  border-left: 1px solid #CCC;
  padding: 0 6px;
  font-size: 13px;
  line-height: 18px;
  float: left;
  margin-bottom: 10px;
  color: #666;
  cursor: pointer;
  -webkit-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}
.msolsbox .mosolist .mosolui li.cur {
  color: #30B880;
  font-weight: 600;
}
.classbtn,
.classbtn2 {
  float: left;
  text-decoration: none !important;
}
.classbtn i,
.classbtn2 i {
  display: inline-block;
  color: #fff;
  background: #ff6666;
  padding: 3px 5px;
  border-radius: 50%;
  margin-right: 6px;
  margin-top: 8px;
}
.classbtn i:hover,
.classbtn2 i:hover {
  background: #E15656;
}
.names {
  text-align: right;
  color: #666;
  width: 70px;
}
.quebox {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  background: #27ae89;
  color: #fff !important;
  text-decoration: none !important;
  padding: 6px 20px;
  border-radius: 4px;
}
.quebox:hover {
  background: #209374;
}
.memeber_czjl .table .context th,
.memeber_czjl .table .context td {
  text-align: center !important;
}
.memeber_czjl .table .lvsk {
  background: transparent;
  color: #17BA99;
  font-size: 14px;
  font-weight: 600;
}
.memeber_czjl .table .lvsk i {
  display: inline-block;
  margin-left: 6px;
  color: #17BA99;
  font-size: 18px;
  vertical-align: -2px;
}
.memeber_czjl .table .lvsk:hover {
  background: transparent;
  color: #17BA99;
  opacity: 0.7;
}
.timebox {
  display: inline-block;
  position: relative;
  border: 1px solid #E0E0E0;
  margin-left: 10px;
  background: #fff;
  margin-top: 2px;
}
.timebox .nelf,
.timebox .neri {
  float: left;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 32px;
  font-size: 22px;
  color: #999;
  cursor: pointer;
  -webkit-transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
}
.timebox .nelf:hover,
.timebox .neri:hover {
  color: #ff6666;
}
.timebox .naconte {
  height: 30px;
  float: left;
  line-height: 33px;
  padding: 0 12px;
  font-size: 15px;
  border-right: 1px solid #E0E0E0;
  border-left: 1px solid #E0E0E0;
  cursor: pointer;
  -webkit-transition: all 0.35s cubic-bezier(0, 0.995, 0.99, 1);
  -ms-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  -moz-transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
  transition: all 0.25s cubic-bezier(0, 0.995, 0.99, 1);
}
.timebox .Zcmdakkk {
  display: none;
  width: 340px;
  position: absolute;
  left: 0;
  top: 32px;
  border: 1px solid #E0E0E0;
  box-shadow: 0 1px 3px 1px #E0E0E0;
  padding: 10px 15px;
  background: #fff;
  z-index: 99999;
}
.ygmiveiwl {
  width: 100%;
  margin-top: 25px;
}
.ygmiveiwl .ygmitopt {
  width: 100%;
  background: #f6f6f6;
  padding: 5px 15px;
  overflow: hidden;
  font-family: "???è??é?…é?‘";
}
.ygmiveiwl .ygmitopt .winle {
  width: 25%;
  float: left;
  padding: 10px 0;
  text-align: center;
  color: #334149;
  font-size: 16px;
}
.ygmiveiwl .ygmitopt .winle i {
  color: #ff4545;
  font-weight: bold;
}
.ygmiveiwl .ygimbox {
  /*margin-top: 40px;*/
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 40px;
  padding: 5px 15px;
}
.ygmiveiwl .detabox h3 {
  margin-left:2%;
  margin-bottom:10px;
  font-size:18px;
}
.ygmiveiwl .ygimbox .winles {
  width: 23%;
  float: left;
  padding: 10px;
  text-align: center;
  color: #334149;
  font-size: 16px;
  border: 1px solid #E0E0E0;
  margin-left: 2%;
}
.ygmiveiwl .detabox .detawin{
    width:23%;
    height:118px;
}
.ygmiveiwl .ygimbox .winles .tetext {
  text-align: left;
  width: 100%;
  display: block;
  font-size: 13px;
}
.ygmiveiwl .ygimbox .winles i {
  font-size: 22px;
  font-weight: bold;
  padding: 15px 0;
  display: block;
}
.ygmiveiwl .ygimbox .winles .tebottom {
  text-align: right;
  width: 100%;
  display: block;
  font-size: 13px;
  padding: 5px 0 0 0;
}
.dtbotn {
  background: #ff6666;
  color: #fff !important;
  text-decoration: none !important;
  display: inline-block;
  padding: 3px 7px;
  border-radius: 5px;
  font-size: 13px;
}
.dtbotn:hover {
  background: #e05252;
}
.Addfeilei {
  width: 80%;
  margin: 0 auto;
  padding: 15px 0;
}
.Addfeilei span {
  display: inline-block;
  vertical-align: middle;
}
.yanzhengbox .modderlis {
  max-height: 124px;
}
.yanzhengbox .modderlis li {
  margin-top: 18px;
}
.yanzhengbox .modderlis li span {
  vertical-align: middle;
}
.yanzhengbox .modderlis li span em {
  color: #ff8c40;
}
.yanzhengbox .modderlis li .fabtn {
  vertical-align: middle;
  padding: 0 !important;
  background: #fff;
  width: 22% !important;
}
.yanzhengbox .modderlis li .fabtn:focus {
  box-shadow: none;
  border: none;
}
.yanzhengbox .modderlis li .fabtn[disabled] {
  background: #19B394;
  color: #fff;
}
.yanzhengbox .modderlis li .win60 {
  width: 58% !important;
}
.mill {
  font-size: 12px;
  padding-top: 9px;
  color: #777;
}
.minhei22 .mosolist {
    width: 100%;
    position: relative;
    overflow: hidden;
    padding-top: 10px;
    border-bottom: 1px solid #E0E0E0;
    }
    .minhei22 .mosolist span {
    width: 100px;
    display: inline-block;
    text-align: right;
    font-size: 14px;
    font-weight: bold;
    padding-right: 5px;
    float: left;
    margin-right: 5px;
    }
    .minhei22 .mosolist .mosolui {
    display: inline-block;
    width: 482px;
    float: left;
    overflow: hidden;
    }
    .minhei22 .mosolist .mosolui li {
    border-left: 1px solid #CCC;
    padding: 0 6px;
    font-size: 13px;
    line-height: 18px;
    float: left;
    margin-bottom: 10px;
    color: #666;
    cursor: pointer;
    -webkit-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -moz-transition: all 0.25s;
    transition: all 0.25s;
    }
    .minhei22 .mosolist .mosolui li.cur {
    color: #30B880;
    font-weight: 600;
    }
    .minhei22 .mosolist .mosolui li.curss {
    color: #ccc;
    font-weight: 600;
    }
    .minhei22 .more{
    float: left;
    color:#30B880;
    position: absolute;
    bottom: 10px;
    right: 48px;
}

